.separator
#news
  .row.top-copy-right
    .twelve-columns.top
      %p.copy-right= t('daily.copy-right')
  .row
    .two-columns.logo
      %img{src: "#{image_path 'crowd.svg'}"}
    .eight-columns.title
      %img.tit{src: "#{image_path 'title-news.svg'}"}
    .two-columns.mask
      %img{src: "#{image_path 'mask.svg'}", width: '60', height: '66'}
    .twelve-columns.line
  .row.stars
    .two-columns
      %span= t('daily.five')
      %span= t('daily.page_two')
    .eight-columns
      %img{src: "#{image_path 'stars.svg'}"}
    .two-columns.date
      %span= @date
    .twelve-columns.line
    .twelve-columns.line-bold

#harassment
  .row.anti-harassment
    .twelve-columns
      %h1= t('home.policy.magma')
      %h2= t('home.policy.title')
    .twelve-columns
      .line
    .eight-columns
      %p= t('home.policy.s_one')
      %p
        = t('home.policy.s_two')
        %br
        = t('home.policy.s_three')
      %p= t('home.policy.s_four')
      %p.linep= t('home.policy.s_five')
    .four-columns
      %p= t('home.policy.adapted')
      %h3.lineh= t('home.policy.geek')
      %p= t('home.policy.more')
      %a.mail{href: "mailto:#{t('home.policy.mail')}"}
        = t('home.policy.mail')
      %h3.phones= t('home.policy.phones')
      %span= t('home.policy.emergency')
      %br
      %a.close-popup{ href: '#' }
        = t('home.policy.back_to')
