%ul.small-stars.pure-g-r
  .pure-u-1-8
    %li
      %img{src: "#{image_path 'star.png'}"}
  .pure-u-1-8
    %li
      %img{src: "#{image_path 'star.png'}"}
  .pure-u-1-8
    %li
      %img{src: "#{image_path 'star.png'}"}
  .pure-u-1-8
    %li
      %img{src: "#{image_path 'star.png'}"}
  .pure-u-1-8
    %li
      %img{src: "#{image_path 'star.png'}"}
  .pure-u-1-8
    %li
      %img{src: "#{image_path 'star.png'}"}
  .pure-u-1-8
    %li
      %img{src: "#{image_path 'star.png'}"}
  .pure-u-1-8
    %li
      %img{src: "#{image_path 'star.png'}"}