.pure-u-2-3.main-content-mobile{ class: I18n.locale.to_s }
  = render 'pages/2017/partials/pages_main_menu'
  .container
    .bgc-glry.pt30.p0--m
      .pure-g-r
        .pure-u-1-1.ta-c.my30.my15--m.mx10
          .getting-ring-icon
            %h2.getting-to-magma-title
              It's easy to get there
          %h4.getting-to-magma-subtitle
            March 29, 30 & 31 - Manzanillo, Col. MX

      .pure-g-r
        .getting-to-mzo-map.pos-r
          = image_tag('2017/ship02.png', class: 'ship-icon')
          .pos-a.pos-b20.pos-l20.ta-l.dis-b-n--m
            %p.map-description
              = t('2015.getting_manzanillo.map_description').html_safe

      .pure-g-r.dis-b--m.p10
        %p.p0.m0.fz-14.opens.ls-0.magmaconf-item-description.pr
          = t('2015.getting_manzanillo.map_description')

      .pure-g-r.tide
        .pure-u-1-2.tide-image-container
          .mx10.my15.dis-b--m
            .mb15.bdt-w-3.bdt-c-ato.bdt-s-s
          %img.tide-image{src: "#{image_path '2017/getting/compass@2x.png'}" }
          %p.magmaconf-title-m= t('2015.getting_manzanillo.help.title')
        .pure-u-1-2.tide-text-container
          .about-container
            %p.magmaconf-title= t('2015.getting_manzanillo.help.title')
            %p.magmaconf-item-description.pr
              = t('2015.getting_manzanillo.help.description').html_safe

      .pure-g-r.tide
        .pure-u-1-2.tide-image-container
          .mx10.my15.dis-b--m
            .mb15.bdt-w-3.bdt-c-ato.bdt-s-s
          %img.tide-image{src: "#{image_path '2017/getting/planningtrip.png'}" }
          %p.magmaconf-title-m= t('2015.getting_manzanillo.planning.title')
        .pure-u-1-2.tide-text-container
          .about-container
            %p.magmaconf-title= t('2015.getting_manzanillo.planning.title')
            %p.magmaconf-item-description.pr-more
              = t('2015.getting_manzanillo.planning.description').html_safe

      .pure-g-r.tide
        .pure-u-1-2.tide-image-container
          .mx10.my15.dis-b--m
            .mb15.bdt-w-3.bdt-c-ato.bdt-s-s
          %img.tide-image{src: "#{image_path '2017/getting/airport_mzo@2x.jpg'}"}
          %p.magmaconf-title-m= t('2015.getting_manzanillo.manzanillo.title')
        .pure-u-1-2.tide-text-container
          .about-container
            %p.magmaconf-title= t('2015.getting_manzanillo.manzanillo.title')
            %p.magmaconf-item-description.pr
              = t('2015.getting_manzanillo.manzanillo.description').html_safe

      .pure-g-r.tide.pos-r
        .pure-u-1-2.tide-image-container
          .mx10.my15.dis-b--m
            .mb15.bdt-w-3.bdt-c-ato.bdt-s-s
          %img.tide-image{src: "#{image_path '2017/getting/airport_gdl@2x.jpg'}" }
          %p.magmaconf-title-m= t('2015.getting_manzanillo.guadalajara.title')
        .pure-u-1-2.tide-text-container
          .about-container
            %p.magmaconf-title= t('2015.getting_manzanillo.guadalajara.title')
            %p.magmaconf-item-description.pr
              = t('2015.getting_manzanillo.guadalajara.description').html_safe
            .pos-a.pos-b10.fz-10.c-amlo.fw-l.dis-b-n--m Photo by: TheJesus1599 "Panoramio

      .pure-g-r.tide
        .pure-u-1-2.tide-image-container
          .mx10.my15.dis-b--m
            .mb15.bdt-w-3.bdt-c-ato.bdt-s-s
          %img.tide-image{src: "#{image_path '2017/getting/about_mzo@2x.png'}" }
          %p.magmaconf-title-m= t('2015.getting_manzanillo.about_manzanillo.title')
        .pure-u-1-2.tide-text-container
          .about-container
            %p.magmaconf-title= t('2015.getting_manzanillo.about_manzanillo.title')
            %p.magmaconf-item-description.pr45.last-paragraph
              = t('2015.getting_manzanillo.about_manzanillo.description').html_safe
