#main-section.pure-u-2-3
  = render 'pages/2017/partials/pages_main_menu'
  .container
    .dis-b--m.bgc-glry.p10
      %p.fz-22.c-mndy.fw-r.teko MAGMACONF EXPERIENCE
      %p.fz-14.c-bldr.fw-r.opens= t('home.magmaconf_come_and_live')
      %p.fz-14.c-bldr.fw-r.opens= raw t('home.magma_is_a')
    #photo-gallery
      #gallery-inner
        #home-info.gallery-box.large
          .inner-box
            .content-information
              %p.magmaconf-title MAGMACONF EXPERIENCE
              %p.magmaconf-item-description= t('home.magmaconf_come_and_live')
              %p.magmaconf-item-description= raw t('home.magma_is_a')
      .spinner.js-spinner-is-expanded
        %a#load-more-items{ href: '#' }

:coffee
  $(document).ready ->
    $('.magma-info').addClass('js-full-width')
    gallery = new Gallery('#gallery-inner')
    $('.white-background li').hide()
    gallery.start()
