.pure-u-2-3.main-content-mobile.sponsors.sponsors-section{ class: I18n.locale.to_s }
  = render 'pages/2017/partials/pages_main_menu'
  .container
    .pt50.pb80.pt0--t
      .pure-g-r
        .pure-u-1-1.ta-c.my10.my15--m.mx10
          .sponsors-ring-icon
            %h2.about-magma-title.flb.mtm.sponsors
              We need your support
          %h4.about-magma-subtitle
            March 29, 30 & 31 - Manzanillo, Col. MX
      .pure-g-r.mt30.m0--t
        .sponsors-text-container
          .text-would-you Would you
          .text-like-to-sponsor Like to sponsor?
          .text-magmaconf-spn MagmaConf
          =link_to 'https://cfp.magmaconf.com/magmaconf_prospectus_2017.pdf',
            class: 'spnsr-button', target: '_blank' do
            %span.spnsr-text1 Download
            %span.spnsr-text2 PDF
          .text-for-more-info For More Info
      .pure-g-r.mt70.m0--t
        .twelve-columns
          .main-sponsor
            %a.sponsor-logo-link{ href: 'https://www.github.com/', target: '_blank' }
              .logo-sp.sponsor-logo__big.sponsor-logo-github
              = image_tag('2017/sponsors/git-hub-hover@2x.png', class: 'hidden')
          .main-sponsor
            %a.sponsor-logo-link{ href: 'http://www.magmalabs.io/', target: '_blank' }
              .logo-sp.sponsor-logo__big.sponsor-logo-magmalabs.ol-n
              = image_tag('2017/sponsors/magmalabs-sponsor-hover@2x.png', class: 'hidden')
          .main-sponsor
            %a.sponsor-logo-link{ href: 'https://travis-ci.org/', target: '_blank' }
              .logo-sp.sponsor-logo__big.sponsor-logo-travis
              = image_tag('2017/sponsors/travis-ci-hover@2x.png', class: 'hidden')
        .twelve-columns.mt70.mt0--m.mt20--tb.container
          .main-sponsor
            %a.sponsor-logo-link{ href: 'http://densitylabs.io/', target: '_blank' }
              .logo-sp.sponsor-logo__medium.sponsor-logo-density-labs.ol-n
              = image_tag('2017/sponsors/sponsor-sticker-mule-red@2x.png', class: 'hidden')
          .main-sponsor
            %a.sponsor-logo-link{ href: 'javascript:void(0);', target: '_blank' }
              .logo-sp.sponsor-logo__medium.sponsor-logo-cookpad.ol-n
              = image_tag('2017/sponsors/cookpad-hover.png', class: 'hidden')
          .main-sponsor
            %a.sponsor-logo-link{ href: 'javascript:void(0);', target: '_blank' }
              .logo-sp.sponsor-logo__medium.sponsor-logo-your-logo.ol-n
              = image_tag('2017/sponsors/your_logo-hover@2x.png', class: 'hidden')
        .twelve-columns.mt70.mt0--m.mt20--tb.container
          .main-sponsor
            %a.sponsor-logo-link{ href: 'https://www.stickermule.com/', target: '_blank' }
              .logo-sp.sponsor-logo__medium.sponsor-logo-stickermule.ol-n
              = image_tag('2017/sponsors/sponsor-sticker-mule-red@2x.png', class: 'hidden')
          .main-sponsor
            %a.sponsor-logo-link{ href: 'javascript:void(0);', target: '_blank' }
              .logo-sp.sponsor-logo__medium.sponsor-logo-or-here.ol-n
              = image_tag('2017/sponsors/or-here-hover@2x.png', class: 'hidden')
        -#.main-sponsor
          %a.sponsor-logo-link{ href: 'https://www.github.com/', target: '_blank' }
            .logo-sp.sponsor-logo__big.sponsor-logo-github
        -#.main-sponsor
          %a.sponsor-logo-link{ href: 'http://www.magmalabs.io/', target: '_blank' }
            .logo-sp.sponsor-logo__big.sponsor-logo-magmalabs.ol-n

      .pure-g-r.mt85.mt20--tb.mb35.mt30--t
        -#.sponsor
          %a.sponsor-logo-link{ href: 'https://travis-ci.org/', target: '_blank' }
            .logo-sp.sponsor-logo__medium.sponsor-logo-travis
        -#.sponsor.mb30--t
          %a.sponsor-logo-link{ href: 'http://sg.com.mx/', target: '_blank' }
            .logo-sp.sponsor-logo__medium.sponsor-logo-sg
  .media-spnsrs
    .m-sponsor
