#main-menu.index.pure-g-r{ class: "#{I18n.locale.to_s}" }
  .nav-menu
    %ul
      %li.link.link-more-padding
        = active_link_to t('menu.about'), '/2017/about', id: 'about-magma-link', class: 'link-text'
      %li.link
        = active_link_to t('menu.speakers'), '/2017/speakers', id: 'speakers-link', class: 'link-text'
      %li.link
        = active_link_to t('menu.talks'), '/2017/talks', id: 'talks-link', class: 'link-text'
      -#%li.link
        = active_link_to t('menu.schedule'), '/2017/schedule', id: 'schedule-link', class: 'link-text'
      %li.link
        = active_link_to t('menu.sponsors'), '/2017/sponsors', id: 'sponsors-link', class: 'link-text'
      %li.link#getting-to-manzanillo
        = active_link_to t('menu.getting_manzanillo'), '/2017/getting', id: 'getting-link', class: 'link-text getting-to-desktop'
        = active_link_to t('menu.getting_manzanillo_abr'), '/2017/getting', id: 'getting-link', class: 'link-text getting-to-tbt'
      %li.link
        = active_link_to t('menu.ready_to_evolve'), '/2017/ready_to_evolve', id: 'ready-to-evolve-link', class: 'link-text'
      %li.link
        %a.link-text#sponsors-link{ href: 'mailto:info@magmaconf.com', target:'_blank' }= t('menu.contact-us')
      %li.link
        %a.link-text.link-buy-tickets#buy-link{ href: 'https://www.eventbrite.com/e/magmaconf-2017-evolution-has-come-tickets-31259518060?aff=magmaconfwebsite;', target:'_blank' }= raw t('menu.buy-tickets')

    %div.dis-b--t.pl15
      .nav-menu-separator
      %h2.teko.fw-r.fz-30.c-amlo.tt-u.ls-0.m-center.dis-b.ta-c
        Anti-harassment policy
      %p.policy-legend-mobile
        = t('home.policy.description')
        %a.open-popup{ href: '#' }= t('home.policy.here')

    %a#btn-menu
      %span
      %span
      %span
