.thanks-info
  %p{ class: "#{ I18n.locale.to_s } over over-small" }
    %span.content-text.highlight= t('home.content_text')
    %span.content-text= t('home.content_text_line2')
    %span.content-text= t('home.content_text_line3')

  = render 'partials/social_buttons'
