.logo-container.bgc-blck.js-animated-background
= link_to root_url, class: 'magma-logo' do
  = image_tag('2017/magmaconf2017.png')
= render_reylero_img @id
%div{ class: "side-text #{render_class_name @id}"}
  %span.side-text-evolution Evolution 
  %span.side-text-has-come Has Come!
  %span.side-text-get-a-friend Get a Friend 
  %span.side-text-get-involved And Get Involved
  =image_tag('2017/arrow-down.svg', class: 'home-arrow-down')
.ticket-background
= image_tag('2017/tickets-img-hover.png', class: 'hidden')
.side-text
  %span.side-text-march March
  %span.side-text-date 29, 30 and 31
  %span.side-text-cfp-place Manzanillo, Colima - MX
