#about-magma
  .pure-g-r.content.heading
    .pure-u-1-4
      %img.info-image{src: "#{image_path 'airplane.svg'}"}
    .pure-u-1-2
      .invitation
        %p.advice= t('about.great_conf')
        %p.title= t('about.deserves_beauty')
      .date
        %span.star
        %p.location= t('date')
        %span.star
    .pure-u-1-4
      %a.btn-register.small{href: 'http://magmaconf2014.eventbrite.com/', target: '_blank'}
        %img{src: "#{image_path 'register-now.png'}"}
  .pure-g-r.section#location
    .content
      .pure-u-1-12
      .pure-u-1-3.left-info.content-information
        %p.title= t('about.hosted_in')
        %p.title= t('about.manzanillo')
        %br
        %p.description
          = t('home.mexico_primer_dev_conf')
          %br
          %br
          = t('about.conference_sessions_revolve')
      .pure-u-1-2.content-image
        %img{src: "#{image_path 'manzanillo.jpg'}"}
      .pure-u-1-12
  .pure-g-r.section#venue
    .content
      .pure-u-1-12
      .pure-u-1-2.right.content-image
        %img{src: "#{image_path 'venue.jpg'}"}
      .pure-u-1-3.right-info.content-information
        %p.title= t('about.venue')
        %br
        %p.description
          = t('about.venue_description')
      .pure-u-1-12
  .pure-g-r.section#culture
    .content
      .pure-u-1-12
      .pure-u-1-3.left-info.content-information
        %p.title= t('about.culture.title_one')
        %p.title= t('about.culture.title_two')
        %br
        %p.description
          = t('about.culture_description')
      .pure-u-1-2.content-image
        %img{src: "#{image_path 'cultural.jpg'}"}
      .pure-u-1-12
  #map-container.pure-g-r.content
    .pure-u-1-1
      #map_canvas
      .map-legend
        %span
          = t('about.the_airport_is_near')
        %p
          %br
          = t('about.manzanillo_inter_airport')
  .pure-g-r.register.section
    = partial :register_button, locals: {img: 'register-now.png' }

- content_for :javascript do
  %script{src:"https://maps.googleapis.com/maps/api/js?sensor=false"}
  %script{src:"#{javascript_path 'google_map'}"}
