#accommodations
  #heading
    .container
      .pure-g-r
        .pure-u-1-4
          %img#beach-image{src: "#{image_path 'beach-image.svg'}"}
        .pure-u-1-2
          .invitation
            %p.advice= t('accommodations.a_mexican_paradise')
            %p.title= t('accommodations.is_waiting_for_you')
          .date
            %span.star
            %p.location= t('date')
            %span.star
        .pure-u-1-6
          %img.shadow.small{src: "#{image_path 'shadow.png'}"}
          %a.btn-register.small{href: 'http://magmaconf2014.eventbrite.com/', target: '_blank'}
            %img{src: "#{image_path t('images.register')}"}
  #village-info
    .container
      .pure-g-r
        .pure-u-2-5
          #description
            %p.title= t('accommodations.title')
            %p.description-text= t('accommodations.description')
            %img.shadow{src: "#{image_path 'shadow.png'}"}
            %a.btn-register{href: "http://store.magmaconf.com/", target: "_blank"}
              %img{src: "#{image_path t('images.book-now')}"}
        .pure-u-3-5
          #village-image
            %img{src: "#{image_path 'village-description.jpg'}"}
