#footer
  .container
    .pure-g-r
      .pure-u-1-1
        = partial :social_buttons
    .pure-g-r
      .pure-u-1-1
        #copy-right
          %a{href: 'www.crowdint.com'}
            #logo-crowd
          .title
            %p= t('home.footer.organised_by')
            %p= t('home.footer.copyright')
    .pure-g-r
      .anti
        .pure-u-1-4
          %h3= t('home.policy.title')
        .pure-u-3-4
          .footer-legend
            %p
              = t('home.policy.description')
              %a.open_popup{href: '/policies'}= t('home.policy.here')
