#getting-manzanillo
  #heading
    .container
      .pure-g-r
        .pure-u-1-4
          .image-container
            %img#airplane-image{src: "#{image_path 'airplane.png'}"}
        .pure-u-1-2
          .invitation{ class: locals[:language] }
            %p.advice= t('getting_manzanillo.its_really_easy')
            %p.title= t('getting_manzanillo.to_get_there')
          .date
            %span.star
            %p.location= t('date')
            %span.star
        .pure-u-1-6
          .register-button
            %img.shadow.small{src: "#{image_path 'shadow.png'}"}
            %a.btn-register.small{href: 'http://magmaconf2014.eventbrite.com/', target: '_blank'}
              %img{src: "#{image_path t('images.register')}"}

  #map-container.pure-g-r.content
    .pure-u-1-1
      #map_canvas
      .map-legend
        %p
          %br
          = t('getting_manzanillo.map_description')

  #planning-trip.pure-g-r.section
    .content
      .pure-u-1-12
      .pure-u-1-2.content-image
        %img{ src: "#{ image_path 'planning-trip.jpg' }" }
      .pure-u-1-3.right-info.content-information
        %p.title= t('getting_manzanillo.planning.title')
        %br
        %p.description
          = t('getting_manzanillo.planning.description')

  #flying-manzanillo.pure-g-r.section
    .content
      .pure-u-1-12
      .pure-u-1-3.left-info.content-information
        %p.title= t('getting_manzanillo.manzanillo.title')
        %br
        %p.description
          = t('getting_manzanillo.manzanillo.description')
      .pure-u-1-2.content-image
        %img{ src: "#{ image_path 'airport-zlo.jpg' }" }

  #flying-guadalajara.pure-g-r.section
    .content
      .pure-u-1-12
      .pure-u-1-2.content-image
        %img{ src: "#{ image_path 'airport-gdl.jpg' }" }
      .pure-u-1-3.right-info.content-information
        %p.title= t('getting_manzanillo.guadalajara.title')
        %br
        %p.description
          = t('getting_manzanillo.guadalajara.description')

  #bus.pure-g-r.section
    .content
      .pure-u-1-12
      .pure-u-1-3.left-info.content-information
        %p.title= t('getting_manzanillo.bus.title')
        %br
        %p.description
          = t('getting_manzanillo.bus.description')
      .pure-u-1-2.content-image
        %img{ src: "#{ image_path 'bus.jpg' }" }

  #help.section
    .content
      .pure-g-r.content-information
        .pure-u-7-24
          %p.title= t('getting_manzanillo.help.title')
        .pure-u-15-24
          %p.description.right-info
            = t('getting_manzanillo.help.description')

  #about-manzanillo.pure-g-r.section
    .content
      .pure-u-1-12
      .pure-u-1-3.left-info.content-information
        %p.title= t('getting_manzanillo.about_manzanillo.title')
        %br
        %p.description
          = t('getting_manzanillo.about_manzanillo.description')
      .pure-u-1-2.content-image
        %img{ src: "#{ image_path 'about-manzanillo.jpg' }" }


- content_for :javascript do
  %script{src:"https://maps.googleapis.com/maps/api/js?sensor=false"}
  %script{src:"#{javascript_path 'google_map'}"}