#main-section
  .container
    .pure-g-r
      .pure-u-1-3.left
        %img#reylero{src: "#{image_path 'reylero.png'}"}
      .pure-u-1-3.center
        %img#date{src: "#{image_path 'date-place.png'}"}
        %p
          MEXICO'S PREMIER MODERN WEB DEVELOPMENT CONFERENCE
        .register
          = partial :register_button, locals: {img: 'register-now.png' }
      .pure-u-1-3.right
        #info
          %p
            %span MAGMACONF!
            %br
            One of the most important web development conferences in Mexico, MagmaConf features talks and discussions
            about Ruby, Rails, Front-end and more.
          %p
            MagmaConf welcomes developers, engineers and designers from all over the world.
            Come and learn from our speakers and participants about the hottest tools and techniques out there!
        = partial :social_buttons
#blog
  %section
    .pure-g-r
      .pure-u-1-1.content
        %img.banner{src: "#{image_path 'banner-immage.png'}"}
        %img.shadow{src: "#{image_path 'shadow.png'}"}
        %a.btn-register{href: 'http://blog.magmaconf.com/', target: '_blank'}
          %img{src: "#{image_path 'el-blog-del-luchador.png'}"}
        %p
          STAY UP-TO-DATE ON ALL
          %br
          THINGS MAGMACONF WITH...
