#main-section
  .container
    .pure-g-r
      .pure-u-1-3.left
        %img#reylero{src: "#{image_path 'reylero-running-nobg.png'}"}
      .pure-u-1-3.center
        %img#date{src: "#{image_path t('images.date')}"}
        %p= t('home.mexico_primer_dev_conf')
        .register
          = partial :register_button, locals: {img: t('images.register') }
      .pure-u-1-3.right
        #info
          %p
            %span MAGMACONF!
            %br
            = t('home.one_of_the_most_important')
          %p= t('home.magma_welcome_dev')
        = partial :social_buttons
  #help-section
    .container
      .pure-g-r
        #here-to-help.pure-u-3-24
          %img.image.title{src: "#{image_path 'here-to-help-title.png'}"}
          %img.image{src: "#{image_path 'here-to-help-img.png'}"}
        .pure-u-5-24
          #contact-us
            %p.title
              DO YOU HAVE ANY QUESTION?
            %p.description
              If you want to know more about transportation to and from MagmaConf
              or would like assistance booking your flights or buses. Please let us know.
            %a.link{href:'mailto:info@magmaconf.com', target:'_blank'} CONTACT US
        .pure-u-8-24.sand-background
          #check-out-more
            %p.title
              EVERYTHING HAPPENS
            %p.title
              AT MAGMA VILLAGE.
            %p.description
              HAVE YOU BOOK YOUR PLACE?
            %a.link{href: '/about-magma#magma-village'}CHECK OUT MORE
        %img#swimmer-image{src: "#{image_path 'swimmer.png'}"}
        .pure-u-8-24
          #village-image.sand-background
            %img{src: "#{image_path 'villlage-image.png'}"}
