#main-section
  .container
    .pure-g-r
      .pure-u-1-3.left
        %img#reylero{src: "#{image_path 'reylero_1.png'}"}
      .pure-u-1-3.center
        %img#date{src: "#{image_path 'date_01.png'}"}
        = partial :social_buttons
      .pure-u-1-3.right
        #carousel-container
          %span#left-arrow
          #main-carousel.content-image
            = partial :slider, locals: { img1: 'preview-1.png', img2: 'preview-2.png', img3: 'preview-3.png' }
          %span#right-arrow
  #help-section
    .container
      .pure-g-r
        #here-to-help.pure-u-3-24
          %img.image.title{src: "#{image_path 'here-to-help-title.png'}"}
          %img.image{src: "#{image_path 'here-to-help-img.png'}"}
        #contact-us.pure-u-5-24
          .content
            %p.title
              WE ARE HERE TO HELP!
            %p.title
              DO YOU HAVE ANY QUESTIONS?
            %p.description
              Want to know more about MagmaConf transportation, housing and meals?
              Let us know; we're here to answer your questions!
            %a.link{href:'mailto:info@magmaconf.com', target:'_blank'} CONTACT US
        #check-out-more.pure-u-8-24.sand-background
          .content
            %p.title
              EVERYTHING HAPPENS
            %p.title
              AT MAGMA VILLAGE.
            %p.description
              HAVE YOU BOOKED YOUR ROOM YET?
            %a.link{href: '/about-magma#magma-village'}CHECK OUT MORE
        %img#swimmer-image{src: "#{image_path 'swimmer.png'}"}
        #village-image.pure-u-8-24
          .content.sand-background
            %img{src: "#{image_path 'villlage-image.png'}"}
