#location
  .container
    .pure-g-r
      .pure-u-1-1
        #map_canvas
        .map-legend
          %span
            THE AIRPORT IS NEAR
          %p
            %br
            Manzanillo's International Airport is only 15 minutes away from the MagmaConf Venue.
            This airport connects Manzanillo with Los Angeles, Vancouver, Huston and Mexico City.
    .pure-g-r
      #airplane
        %img{src: "#{image_path 'airplane.svg'}"}
    .pure-g-r#accommodation
      .pure-u-1-1
        #village-image
          %img{src: "#{image_path 'magma-village.svg'}"}
      .pure-u-1-1
        #accommadtions-legend
          %p
            A MEXICAN
          %P
            PARADISE
          %P
            IS WAITING FOR YOU!
    .pure-g-r
      #village-info
        .pure-u-1-2
          #description
            %p.title
              WELCOME TO
            %p.title
              THE MAGMA VILLAGE
            %p.description-text
              An unique alternative to a traditional hotel, Magma Village offers attendees the oportunity to continue
              learning from each other even after talks have finished for the day.
            %p.description-text
              Part of the exclusive Santiago Beach Club, Magma Village is located on the best beach in Manzanillo. Relax
              on the sand after a long day of talks, or dip your toes in the balmy Mexican ocean.
            %a.btn-cfp{href: "http://store.crowdint.com/products/category/magmaconf", target: "_blank"}
              %img{src: "#{image_path 'book-now.svg'}"}
        .pure-u-1-2
          #village
            %img{src: "#{image_path 'village-description.jpg'}"}
        .pure-u-1-1
          #beach-image
            %img{src: "#{image_path 'beach-image.svg'}"}