#main-section
  .center.second
    %img#date{src: "#{image_path 'date-place.png'}"}
    %img#reylero{src: "#{image_path 'reylero.png'}"}
    %img#door{src: "#{image_path 'door.png'}"}
    %img#ticket{src: "#{image_path 'ticket.png'}"}
    #info
      %p
        %b MAGMACONF!
        %br
        One of the most important web development conferences in Mexico, MagmaConf features talks and discussions
        about Ruby, Rails, Front-end and more. MagmaConf welcomes developers, engineers and designers from all over the world.
        Come and learn from our speakers and participants about the hottest tools and techniques out there!
    %p
      MEXICO'S PREMIER MODERN WEB DEVELOPMENT CONFERENCE
    %a.btn-cfp{href: "http://magmaconf2014.eventbrite.com/", target: "_blank"}
      %img{src: "#{image_path 'register-now.png'}"}
    .social
      %a.facebook{href: 'http://www.facebook.com/magmaconf', target: '_blank'}
        %i.icon-facebook
      %a.twitter{href: 'http://twitter.com/magmaconf', target: '_blank'}
        %i.icon-twitter
      %a.google{href: 'https://plus.google.com/+Magmaconf/posts', target: '_blank'}
        %i.icon-google

