#main-menu.pure-g-r
  .pure-u-1-1
    %ul
      %li.link
        %a#speakers-link{href: '/speakers'}= t('menu.speakers')
      %li.link
        %a#schedule-link{href: '/schedule'}= t('menu.schedule')
      %li.link
        %a#about-magma-link{href: '/about-magma'}= t('menu.about')
      %li#main-section-link
        %a{href: '/'}
          #magma-logo
      %li.link
        %a#getting-manzanillo-link{href: '/getting-to-manzanillo'}= t('menu.getting_manzanillo')
      %li.link
        %a#sponsors-link{href: '/sponsors'}= t('menu.sponsors')
      %li.link
        %a.blog-link{href: 'http://blog.magmaconf.com/', target: '_blank'}= t('menu.blog')
    %a#btn-menu
      %span
      %span
      %span

#mobile-header.pure-g-r
  .pure-u-1-1
    %a#btn-mobile-header
      %span
      %span
      %span
    %span#menu.link= t('menu.menu')
    %a{href: '/'}
      #magma-logo
    %a#register.link{href: 'http://magmaconf2014.eventbrite.com/', target: '_blank'}
      = t('menu.register')
