%ul
  %li
    %img{ src: "#{ image_path locals[:img1] }" }
  %li
    %img{ src: "#{ image_path locals[:img2] }" }
  %li
    %img{ src: "#{ image_path locals[:img3] }" }
  %li
    %img{ src: "#{ image_path locals[:img4] }" }
  %li
    %img{ src: "#{ image_path locals[:img5] }" }
  %li
    %img{ src: "#{ image_path locals[:img6] }" }
  %li
    %img{ src: "#{ image_path locals[:img7] }" }
  %li
    %img{ src: "#{ image_path locals[:img8] }" }
  %li
    %img{ src: "#{ image_path locals[:img9] }" }
  %li
    %img{ src: "#{ image_path locals[:img10] }" }
