%ul
  %li
    %img{ src: "#{ image_path locals[:img1] }" }
  %li
    %img{ src: "#{ image_path locals[:img2] }" }
  %li
    %img{ src: "#{ image_path locals[:img3] }" }
  %li
    %img{ src: "#{ image_path locals[:img4] }" }
  %li
    %img{ src: "#{ image_path locals[:img5] }" }

