#schedule
  #container
    .pure-g-r
      .pure-u-1-1
        #versus.top-image
          %img{src: "#{image_path 'mascaravsmascara.svg'}"}
    .pure-g-r
      .pure-u-1-1
        .top-image
          %img{src: "#{image_path 'lucha-espectacular.svg'}"}
    .pure-g-r
      .pure-u-1-4
        = partial :stars_list
      .pure-u-1-2
        .images
          %img{src: "#{image_path 'arena-magma.svg'}"}
      .pure-u-1-4
        = partial :stars_list
    .pure-g-r#magma-legend
      .pure-u-1-1
        %p
          MAGMACONF 2014 SCHEDULE
    .pure-g-r#days
      .pure-u-1-3
        #wednesday-image
          %img{src: "#{image_path 'wednesday.svg'}"}
      .pure-u-1-3
        #thursday-image
          %img{src: "#{image_path 'thursday.svg'}"}
      .pure-u-1-3
        #friday-image
          %img{src: "#{image_path 'friday.svg'}"}
    .pure-g-r.row.break
      .pure-u-1-24
        %p.time
          9:00
      .pure-u-1-3
        %p.legend OPENING
      .pure-u-1-3
      .pure-u-1-4
    .pure-g-r.row
      .pure-u-1-24
        %p.time
          10:00
      .pure-u-1-3
      .pure-u-1-3
        = partial :talk, locals: { speaker: 'David Calavera', talk_name: "GitHub Enterprise' toolchain", language: 'en'}
      .pure-u-1-4
        = partial :talk, locals: { speaker: 'PJ', talk_name: 'Urban Legends: What You Code Makes You Who You Are', language: 'en'}
    .pure-g-r.row
      .pure-u-1-24
        %p.time
          10:40
      .pure-u-1-3
        = partial :talk, locals: { speaker: 'Joe Wright', talk_name: "Are we really engineers?", language: 'en'}
      .pure-u-1-3
        = partial :talk, locals: { speaker: 'Matt Kirk', talk_name: "Sentiment Analysis using Support Vector Machines in Ruby", language: 'en'}
      .pure-u-1-4
        = partial :talk, locals: { speaker: 'Leo Salazar', talk_name: 'Refactoring Education', language: 'en'}
    .pure-g-r.row.break
      .pure-u-1-24
        %p.time
          11:20
      .pure-u-1-3
        %p.legend Break
      .pure-u-1-3
        %p.legend Break
      .pure-u-1-4
        %p.legend Break
    .pure-g-r.row
      .pure-u-1-24
        %p.time
          11:40
      .pure-u-1-3
        = partial :talk, locals: { speaker: 'Konstantin Haase', talk_name: "Death to Cookies", language: 'en'}
      .pure-u-1-3
        = partial :talk, locals: { speaker: 'Johnny Winn', talk_name: "Elixir = Ruby, A Pattern Matching", language: 'en'}
      .pure-u-1-4
        = partial :talk, locals: { speaker: 'Adam Rogers', talk_name: 'How to win designers and influence developers', language: 'en'}
    .pure-g-r.row
      .pure-u-1-24
        %p.time
          12:20
      .pure-u-1-3
        = partial :talk, locals: { speaker: 'Blake Mizerany', talk_name: "You should learn Go!", language: 'en'}
      .pure-u-1-3
        = partial :talk, locals: { speaker: 'André Arko', talk_name: "Software Icebergs: Development Was the Easy Part", language: 'en'}
      .pure-u-1-4
        = partial :talk, locals: { speaker: 'Emmanuel Delgado', talk_name: '1 Level Up', language: 'en'}
    .pure-g-r.row.break
      .pure-u-1-24
        %p.time
          13:00
      .pure-u-1-3
        %p.legend Sponsor time
      .pure-u-1-3
        %p.legend Sponsor time
      .pure-u-1-4
        %p.legend Sponsor time
    .pure-g-r.row.break
      .pure-u-1-24
        %p.time
          13:10
      .pure-u-1-3
        %p.legend Lunch
      .pure-u-1-3
        %p.legend Lunch
      .pure-u-1-4
        %p.legend Lunch
    .pure-g-r.row
      .pure-u-1-24
        %p.time
          14:40
      .pure-u-1-3
        = partial :talk, locals: { speaker: 'Daniel Rios', talk_name: "Intro to Computer Vision, Machine Learning and Genetic Algorithms", language: 'en'}
      .pure-u-1-3
        = partial :talk, locals: { speaker: 'Jesse Toth', talk_name: "Rewriting Critical Parts of Your Application Using... Science!", language: 'en'}
      .pure-u-1-4
        = partial :talk, locals: { speaker: 'Manuel Vidaurre', talk_name: 'Lucharan a dos de tres caídas: MV* stack vs rails 4 omakase', language: 'en'}
    .pure-g-r.row.break
      .pure-u-1-24
        %p.time
          15:20
      .pure-u-1-3
        %p.legend Lighting Talks
      .pure-u-1-3
        %p.legend Lighting Talks
      .pure-u-1-4
        %p.legend Lighting Talks
    .pure-g-r.row.break
      .pure-u-1-24
        %p.time
          15:40
      .pure-u-1-3
        %p.legend Break
      .pure-u-1-3
        %p.legend Break
      .pure-u-1-4
        %p.legend Break
    .pure-g-r.row
      .pure-u-1-24
        %p.time
          16:00
      .pure-u-1-3
        = partial :talk, locals: { speaker: 'Nick Rowe', talk_name: "Bullet Trains: Performance Tuning Rails", language: 'en'}
      .pure-u-1-3
        = partial :talk, locals: { speaker: 'Zachary Scott', talk_name: "standing on the shoulders of giants", language: 'en'}
      .pure-u-1-4
        = partial :talk, locals: { speaker: 'Richard Schneeman', talk_name: 'The Good Rubyist Challenge', language: 'en'}
    .pure-g-r#keynote.row
      .pure-u-1-24
        %p.time
          16:40
      .pure-u-1-3
        = partial :keynote, locals: { speaker: 'Fred George', language: 'en'}
      .pure-u-1-3
        = partial :keynote, locals: { speaker: 'Keynote', language: 'en'}
      .pure-u-1-4
        = partial :keynote, locals: { speaker: 'Keynote', language: 'en'}
    .pure-g-r.row.announcements
      .pure-u-1-24
        %p.time
          15:40
      .pure-u-1-3
        %p.legend EOD Announcements
      .pure-u-1-3
        %p.legend EOD Announcements
      .pure-u-1-4
        %p.legend EOD Announcements
    .pure-g-r.bottom
      .pure-u-1-4
        = partial :small_stars_list
      .pure-u-1-2
        .images
          %img{src: "#{image_path 'manzanillo-schedule.svg'}"}
      .pure-u-1-4
        = partial :small_stars_list
    .pure-g-r.bottom-image
      .tunnel-image
        %img{src: "#{image_path 'tunnel.svg'}"}



