#schedule
  .container
    .pure-g-r
      .pure-u-1-1
        .header
          %span.star
          %img.arena{src: "#{image_path 'arenamagma.png'}"}
          %span.star
    .pure-g-r
      .pure-u-4-24.left-stars
        = partial :small_stars_list
      .pure-u-4-24#left-mask
        %img{src: "#{image_path 'left-mask.png'}"}
      .pure-u-8-24#magma-legend
        %p= "#{t('title')} #{t('menu.schedule')}"
      .pure-u-4-24#right-mask
        %img{src: "#{image_path 'right-mask.png'}"}
      .pure-u-4-24.right-stars
        = partial :small_stars_list
    %span#left.arrow
    %span#right.arrow
    .pure-g-r
      .pure-u-1-24#time
        .pure-g-r.head
          .pure-u-1-1
        = partial :hour, locals: { hour: '9:00', class_name: 'opening' }
        = partial :hour, locals: { hour: '10:00', class_name: 'talk' }
        = partial :hour, locals: { hour: '10:40', class_name: 'talk' }
        = partial :hour, locals: { hour: '11:20', class_name: 'break' }
        = partial :hour, locals: { hour: '11:40', class_name: 'talk' }
        = partial :hour, locals: { hour: '12:20', class_name: 'talk' }
        = partial :hour, locals: { hour: '13:00', class_name: 'break' }
        = partial :hour, locals: { hour: '13:10', class_name: 'break' }
        = partial :hour, locals: { hour: '14:40', class_name: 'talk big' }
        = partial :hour, locals: { hour: '15:20', class_name: 'talk' }
        = partial :hour, locals: { hour: '15:40', class_name: 'break' }
        = partial :hour, locals: { hour: '16:00', class_name: 'talk' }
        = partial :hour, locals: { hour: '16:40', class_name: 'keynote' }
        = partial :hour, locals: { hour: '17:40', class_name: 'break' }

      .pure-u-7-24#wednesday.active
        .pure-g-r
          .head{ class: "#{ locals[:language] }" }
            .pure-u-1-1
              .day-image
                %img{src: "#{image_path t('images.wednesday')}"}
        .pure-g-r.line.opening
          .pure-u-1-1
            %p.legend OPENING
        .pure-g-r.line.talk
          .pure-u-1-1
        = partial :talk,
                  locals: { speaker: 'Joe Wright',
                            talk_name: 'Are we really engineers?',
                            language: 'en' }
        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Break
        = partial :talk,
                  locals: { speaker: 'Konstantin Haase',
                            talk_name: 'Death to Cookies',
                            language: 'en' }
        = partial :talk,
                  locals: { speaker: 'Blake Mizerany',
                            talk_name: 'You should learn Go!',
                            language: 'en' }
        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Sponsor time
        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Lunch
        = partial :talk,
                  locals: { speaker: 'Daniel R&iacute;os',
                            talk_name: 'Intro to Computer Vision, Machine Learning and Genetic Algorithms',
                            language: 'en',
                            class_name: 'big' }
        .pure-g-r.line.talk
          .pure-u-1-1
            %p.speaker-name Lightning Talks

        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Break
        = partial :talk,
                  locals: { speaker: 'Nick Rowe',
                            talk_name: 'Bullet Trains: Performance Tuning Rails',
                            language: 'en' }
        = partial :keynote,
                  locals: { speaker: 'Fred George',
                            language: 'en' }
        .pure-g-r.line.announcements
          .pure-u-1-1
            %p.legend EOD Announcements


      .pure-u-1-3#thursday
        .pure-g-r
          .head
            .pure-u-1-1
              .day-image
                %img{src: "#{image_path t('images.thursday')}"}
        .pure-g-r.line.opening
          .pure-u-1-1
        = partial :talk,
                  locals: { speaker: 'David Calavera',
                            talk_name: "GitHub Enterprise' toolchain",
                            language: 'en' }
        = partial :talk,
                  locals: { speaker: 'Matt Kirk',
                            talk_name: 'Sentiment Analysis using Support Vector Machines in Ruby',
                            language: 'en' }
        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Break
        = partial :talk,
                  locals: { speaker: 'Johnny Winn',
                            talk_name: 'Elixir = Ruby, A Pattern Matching',
                            language: 'en' }
        = partial :talk,
                  locals: { speaker: 'André Arko',
                            talk_name: 'Software Icebergs: Development Was the Easy Part',
                            language: 'en' }
        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Sponsor time
        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Lunch
        = partial :talk,
                  locals: { speaker: 'Jesse Toth',
                            talk_name: 'Rewriting Critical Parts of Your Application Using... Science!',
                            language: 'en',
                            class_name: 'big' }
        .pure-g-r.line.talk
          .pure-u-1-1
            %p.speaker-name Melissa Pegus
            %p.talk-name TBD

        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Break
        = partial :talk,
                  locals: { speaker: 'Zachary Scott',
                            talk_name: 'Standing on the shoulders of giants',
                            language: 'en' }
        = partial :keynote,
                  locals: { speaker: 'Sandi Metz',
                            language: 'en' }
        .pure-g-r.line.announcements
          .pure-u-1-1
            %p.legend EOD Announcements

      .pure-u-1-3#friday
        .pure-g-r
          .head
            .pure-u-1-1
              .day-image
                %img{src: "#{image_path t('images.friday')}"}
        .pure-g-r.line.opening
          .pure-u-1-1
        = partial :talk,
                  locals: { speaker: 'PJ Hagerty',
                            talk_name: 'Urban Legends: What You Code Makes You Who You Are',
                            language: 'en' }
        = partial :talk,
                  locals: { speaker: 'Leo Salazar',
                            talk_name: 'Refactoring Education',
                            language: 'en' }
        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Break
        = partial :talk,
                  locals: { speaker: 'Adam Rogers',
                            talk_name: 'How to win designers and influence developers',
                            language: 'en' }
        .pure-g-r.line.talk
          .pure-u-1-1
            %p.speaker-name TBD

        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Sponsor time
        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Lunch
        .pure-g-r.line.talk.big
          .pure-u-1-1
            %p.speaker-name
              %a.link{ href: 'http://blog.magmaconf.com/2014/05/02/let-s-get-ready-to-rumble-2-to-3-rounds-mv-stack-vs-rails-4-omakase.html',
                       target: '_blank' } Discussion Panel
            %img.language-image{ src: "#{image_path 'en.svg'}" }
            %img.language-image.sp{ src: "#{image_path 'sp.svg'}" }
            %p.talk-name.en-sp
              %a.link{ href: 'http://blog.magmaconf.com/2014/05/02/let-s-get-ready-to-rumble-2-to-3-rounds-mv-stack-vs-rails-4-omakase.html',
                                     target: '_blank' } Let’s get ready to rumbleeeeeee: MV* stack VS Rails 4 omakase
        .pure-g-r.line.talk
          .pure-u-1-1
            %p.speaker-name Lightning Talks
        .pure-g-r.line.break
          .pure-u-1-1
            %p.legend Break
        = partial :talk,
                  locals: { speaker: 'Richard Schneeman',
                            talk_name: 'The Good Rubyist Challenge',
                            language: 'en' }
        = partial :keynote,
                  locals: { speaker: 'Desi McAdam',
                            language: 'en' }
        .pure-g-r.line.announcements
          .pure-u-1-1
            %p.legend EOD Announcements
    .pure-g-r.bottom
      .pure-u-1-1
        .images
          %img{src: "#{image_path 'manzanillo-schedule.png'}"}
    .pure-g-r.register
      .pure-u-1-1
        = partial :register_button, locals: {img: t('images.register') }
