%ul.small-stars.pure-g-r
  .pure-u-1-10
    %li
      %img{src: "#{image_path 'star.svg'}"}
  .pure-u-1-10
    %li
      %img{src: "#{image_path 'star.svg'}"}
  .pure-u-1-10
    %li
      %img{src: "#{image_path 'star.svg'}"}
  .pure-u-1-10
    %li
      %img{src: "#{image_path 'star.svg'}"}
  .pure-u-1-10
    %li
      %img{src: "#{image_path 'star.svg'}"}
  .pure-u-1-10
    %li
      %img{src: "#{image_path 'star.svg'}"}
  .pure-u-1-10
    %li
      %img{src: "#{image_path 'star.svg'}"}
  .pure-u-1-10
    %li
      %img{src: "#{image_path 'star.svg'}"}
  .pure-u-1-10
    %li
      %img{src: "#{image_path 'star.svg'}"}