#speakers
  .pure-g-r
    .pure-u-5-5
      .top-box
        %img{src: "#{image_path 'speakers-image.svg'}"}
  .pure-g-r
    .pure-u-5-5.center
      %p.check CHECK OUT OUR
      %p.awesome AWESOME SPEAKERS
  .pure-g-r
    .pure-u-1-3
      .top-box
        %img{src: "#{image_path 'desi-mcadam.png'}"}
        %span.speaker-name Desi McAdam
    .pure-u-1-3
      .top-box
        %img{src: "#{image_path 'desi-mcadam.png'}"}
        %span.speaker-name Desi McAdam
    .pure-u-1-3
      .top-box
        %img{src: "#{image_path 'desi-mcadam.png'}"}
        %span.speaker-name Desi McAdam
  .pure-g-r
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
  .pure-g-r
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
  .pure-g-r
    .pure-u-1-6
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .speaker-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
  .pure-g-r
    .pure-u-5-5
      .top-box
        %img.bottom{src: "#{image_path 'speaker-bottom.png'}"}


