%section#speakers
  #presentation.pure-g-r.content
    .pure-u-1-4.illustration
      %img{src: "#{image_path 'speakers-illustration.png'}"}
    .pure-u-1-2
      .invitation
        %p.advice CHECK OUT OUR
        %p.title AWESOME SPEAKERS
      .date
        %span.star
        %p.location JUNE 4TH-6TH | MANZANILLO
        %span.star
    .pure-u-1-4
      %a.btn-register.small{href: 'http://magmaconf2014.eventbrite.com/', target: '_blank'}
        %img{src: "#{image_path 'register-now.png'}"}
%section#keynotes
  .pure-g-r.content
    .pure-u-1.center
      %img{src: "#{image_path 'keynotes-title.png'}"}
  .pure-g-r.content
    .pure-u-1-5
    .pure-u-1-5.speaker-box
      .flipper
        .normal-box
          %img{src: "#{image_path 'desi-mcadam.png'}"}
          %span.speaker-name Desi McAdam
        .info-box
          %span @desi
          %p= t('keynotes.desi.bio')
    .pure-u-1-5.speaker-box
      .flipper
        .normal-box
          %img{src: "#{image_path 'fred-george.png'}"}
          %span.speaker-name Fred George
        .info-box
          %span @fgeorge52
          %p= t('keynotes.fred.bio')
    .pure-u-1-5.speaker-box
      .flipper
        .normal-box
          %img{src: "#{image_path 'sandy.png'}"}
          %span.speaker-name Sandi Metz
        .info-box
          %span @sandimetz
          %p= t('keynotes.sandi.bio')
%section#speaker-cards
  .pure-g-r.content.speakers-title
    .pure-u-1.center
      %img{src: "#{image_path 'speakers-title.png'}"}
  .pure-g-r.content
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'manuel-vidaurre.png', name: 'Manuel Vidaurre', social: '@mvidaurre', bio: t('speakers.manuel.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'jesse-thoth.png', name: 'Jesse Toth', social: '@jesseplusplus', bio: t('speakers.jesse.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'joe-wright.png', name: 'Joe Wright', social: '@joe_jag', bio: t('speakers.joe.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'david-calavera.png', name: 'David Calavera', social: '@calavera', bio: t('speakers.david.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'emmanuel-delgado.png', name: 'Emmanuel Delgado', social: '@chischaschos', bio: t('speakers.emmanuel.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'richard-schneeman.png', name: 'Richard Schneeman', social: '@schneems', bio: t('speakers.richard.bio')}
  .pure-g-r.content
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'mark-kirk.png', name: 'Mark Kirk', social: '@mjkirk', bio: t('speakers.matthew.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'blake.png', name: 'Blake Mizerany', social: '@bmizerany', bio: t('speakers.blake.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'daniel-rios.png', name: 'Daniel R&iacute;os', social: '@ieldanr', bio: t('speakers.daniel.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'andre-arko.png', name: 'Andr&eacute;', social: '@indirect', bio: t('speakers.andre.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'johnny-winn.png', name: 'Johnny Winn', social: '@johnny_rugger', bio: t('speakers.johnny.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'adam-rogers.png', name: 'Adam Rogers', social: '@rodreegez', bio: t('speakers.adam.bio')}
  .pure-g-r.content
    .pure-u-1-12
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'leo-salazar.png', name: 'Leo Salazar', social: '@leonor_salazar', bio: t('speakers.leo.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'nick.png', name: 'Nick Rowe', social: '@nixterrimus', bio: t('speakers.nick.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'konstantin.png', name: 'Knonstantin Haase', social: '@konstantinhaase', bio: t('speakers.konstantin.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'zachary-scott.png', name: 'Zachary Scott', social: '@_zzak', bio: t('speakers.zachary.bio')}
    .pure-u-1-6.speaker-box
      = partial :speaker_cards, locals: {img: 'pj.png', name: 'PJ Hagerty', social: '@aspleenic', bio: t('speakers.pj.bio')}
%section#registration
  .top-box
    %img.shadow{src: "#{image_path 'shadow.png'}"}
    %a.btn-register{href: 'http://magmaconf2014.eventbrite.com/', target: '_blank'}
      %img{src: "#{image_path 'register-now.png'}"}

