#speakers
  .pure-g-r
    .pure-u-5-5
      .top-box
        %img{src: "#{image_path 'speakers-image.svg'}"}
  .pure-g-r
    .pure-u-5-5.center
      %p.check CHECK OUT OUR
      %p.awesome AWESOME SPEAKERS
  .pure-g-r
    .pure-u-1-3
      .top-box
        %img{src: "#{image_path 'desi-mcadam.png'}"}
        %span.speaker-name Desi McAdam
    .pure-u-1-3
      .top-box
        %img{src: "#{image_path 'fred-george.png'}"}
        %span.speaker-name Fred George
    .pure-u-1-3
      .top-box
        %img{src: "#{image_path 'sandy.png'}"}
        %span.speaker-name Sandy Metz
  .pure-g-r
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'manuel-vidaurre.png'}"}
        %span.speaker-name Manuel Vidaurre
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'jesse-thoth.png'}"}
        %span.speaker-name Jesse Toth
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'joe-wright.png'}"}
        %span.speaker-name Joe Wright
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'david-calavera.png'}"}
        %span.speaker-name David Calabera
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'emmanuel-delgado.png'}"}
        %span.speaker-name Emmanuel Delgado
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'richard-schneeman.png'}"}
        %span.speaker-name Richard Schneeman
  .pure-g-r
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'mark-kirk.png'}"}
        %span.speaker-name Mark Kirk
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'blake.png'}"}
        %span.speaker-name Blake Mizerany
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'daniel-rios.png'}"}
        %span.speaker-name Daniel Rios
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'andre-arko.png'}"}
        %span.speaker-name André Arko
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'johnny-winn.png'}"}
        %span.speaker-name Johnny Winn
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'adam-rogers.png'}"}
        %span.speaker-name Adam Rogers
  .pure-g-r
    .pure-u-1-6
    .pure-u-1-6
      .normal-box
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'konstantin.png'}"}
        %span.speaker-name Konstantin Haase
    .pure-u-1-6
      .normal-box
        %img{src: "#{image_path 'zachary-scott.png'}"}
        %span.speaker-name Zachry Scott
    .pure-u-1-6
      .normal-box
    .pure-u-1-6
  .pure-g-r
    .pure-u-5-5
      .top-box
        %img.bottom{src: "#{image_path 'speaker-bottom.png'}"}


