#sponsoring
  .pure-g-r
    .pure-u-1-1
      #car-image
        %img{src: "#{image_path 'car-image.svg'}"}
  .pure-g-r#sponsors
    .pure-u-1-3
      .big-sponsor-box
        %span#crowdint
    .pure-u-1-3
      .top-box
        %img{src: "#{image_path 'sponsors-image.svg'}"}
    .pure-u-1-3
      .big-sponsor-box
        %span YOUR LOGO COULD BE HERE!
  .pure-g-r
    .pure-u-1-6
      .normal-box
        %span OR HERE!
    .pure-u-1-6
      .normal-box
        %span OR HERE!
    .pure-u-1-3
      #sponsoring-advice
        %span.big WE
        %span.medium NEED
        %span.small YOUR SUPPORT
    .pure-u-1-6
      .normal-box
        %span OR HERE!
    .pure-u-1-6
      .normal-box
        %span OR HERE!
  .pure-g-r
    .pure-u-1-1
      #sponsors-legend
        %p
          WOULD YOU LIKE TO SPONSOR
        %p
          MAGMA CONF?
    .pure-u-1-1
      #mail-button
        %a.btn-cfp
          %img{src: "#{image_path 'contact-sponsor.png'}"}
  #contact-form
    .pure-g-r
      .pure-u-1-1
        .title
          %span
            = t('contact-form.title')
          %a.cancel-button
            = t('contact-form.cancel-button')
            %img{src: "#{image_path 'close.png'}"}
    .pure-g-r
      .pure-u-1-1
        .form-container
          #message-box
            %button.close
              x
            %span
          %form#contact
            %fieldset
              .field
                %label{for: 'name'}= t('contact-form.fields.name')
                %span *
                %input{name: 'name', type: 'text'}
              .field
                %label{for: 'company'}= t('contact-form.fields.company')
                %span *
                %input{name: 'company', type: 'text'}
              .field
                %label{for: 'email'}= t('contact-form.fields.email')
                %span *
                %input{name: 'email', type: 'email'}
              %input.submit{type: 'submit', value: t('contact-form.fields.submit')}

