#footer.bgc-stratos
  .container
    .pure-g-r
      .pure-u-1-1
        #copy-right{ class: I18n.locale.to_s }
          .title
            %p= t('home.footer.organised_by')
            %a{href: 'http://www.magmalabs.io/'}
              %img#logo-magmalabs{ src: image_path('2017/logo-magmalabs.svg') }
            |
            %p= raw(t('home.footer.copyright'))
    .pure-g-r
      .anti
        .pure-u-1-4
          %h3= t('home.policy.title')
        .pure-u-3-4.dis-ib-n--t
          .footer-legend
            %p
              = t('home.policy.description')
              %a.open-popup{ href: '#' }= t('home.policy.here')
              %a.policy-page{ href: '/policies' }= t('home.policy.here')
    #magma-in-the-past.magma-in-the-past.section-menu
      .twelve-columns
        .twelve-columns.ta-c
          %ul.inline-list
            %li.magma-in-the-past-text
              MagmaConf in the past:
            %li
              %a{target: "_blank", href: "http://2015.magmaconf.com"}
                2015
            %li
              %a{target: "_blank", href: "http://2014.magmaconf.com"}
                2014
            %li
              %a{target: "_blank", href: "http://2013.magmaconf.com"}
                2013
            %li
              %a{target: "_blank", href: "http://2012.magmaconf.com"}
                2012
#popup
