#footer.bgc-stratos
  .container
    .pure-g-r
      .pure-u-1-1
        #copy-right{ class: I18n.locale.to_s }
          .title
            %p= t('home.footer.organised_by')
            %a{href: 'http://www.magmalabs.io/'}
              %img#logo-magmalabs{ src: image_path('2017/logo-magmalabs.svg') }
            |
            %p= raw(t('home.footer.copyright'))
    .pure-g-r
      .anti
        .pure-u-1-4
          %h3= t('home.policy.title')
        .pure-u-3-4.dis-ib-n--t
          .footer-legend
            %p
              = t('home.policy.description')
              %a.open-popup{ href: '#' }= t('home.policy.here')
              %a.policy-page{ href: '/policies' }= t('home.policy.here')
#popup
