%script#temp-menu{:type => "text/x-template"}
  = render 'partials/menu_links'

%nav.navbar
  .container
    .row
      = label_tag 'menu-mobile-handler', class: 'menu-mobile-handler' do
        = image_tag 'mobile/button.png'
      = link_to '#', class: 'logo span2' do
        = image_tag 'logo.svg', class: 'desktop'
        = image_tag 'mobile/logo.svg', class: 'mobile'

      %ul.main-nav.span7.navigation

      .span3
        %ul.social.pull-right
          %li
            %span Stay tuned:
          %li.fb
            = link_to 'facebook', 'http://www.facebook.com/magmaconf'
          %li.twt
            = link_to 'twitter', 'http://twitter.com/magmaconf'
          %li.gplus
            = link_to 'google plus', 'https://plus.google.com/108479926406306482358/posts'





= link_to 'http://magmazine.magmaconf.com/en/faq', class: 'magmazine' do
  = image_tag 'magmazine.svg'


