%nav.navbar.navbar-fixed-top{"data-role" => "header", "data-position" =>"fixed"}
  .container
    %ul.pull-left.main-nav
      %li
        = link_to 'Spotlight', '#', "data-action" => 'home'
      %li
        = link_to 'Keynotes', '#', "data-action" => 'keynotes'
      %li
        = link_to 'Call for papers', '#', "data-action" => 'call-for-papers', class: 'hidden-phone'
        = link_to 'CFP', '#', "data-action" => 'call-for-papers', class: 'hidden-desktop hidden-tablet'
    %ul.pull-right.social.hidden-phone
      %li
        %span Stay tuned:
      %li.fb
        = link_to 'facebook', 'http://www.facebook.com/magmaconf'
      %li.twt
        = link_to 'twitter', 'http://twitter.com/magmaconf'
      %li.gplus
        = link_to 'google plus', 'https://plus.google.com/108479926406306482358/posts'

    .hidden-desktop.mobile-menu.pull-left.hidden-tablet
      = image_tag 'mobile/arrow.png', class: 'pull-right'

    = link_to '#', class: 'logo hidden-phone' do
      = image_tag 'logo.png'



= link_to 'http://magmazine.magmarails.com', class: 'magmazine hidden-phone' do
  = image_tag 'magmazine.png'


