%script#temp-menu{:type => "text/x-template"}
  = render 'partials/menu_links'

%nav.navbar
  .container
    .row
      = label_tag 'menu-mobile-handler', class: 'menu-mobile-handler' do
        = image_tag 'mobile/button.png'
      = link_to '#', class: 'logo span2' do
        = image_tag 'logo.svg', class: 'desktop'
        = image_tag 'mobile/logo.svg', class: 'mobile'

      %ul.main-nav.span7.navigation

      .span3
        %ul.social.pull-right
          = render 'partials/social_links'

= link_to 'http://magmazine.magmaconf.com/en/faq', class: 'magmazine' do
  = image_tag 'magmazine.svg'
