#main-menu.pure-g-r{ class: "#{I18n.locale.to_s} index" }
  .pure-u-1-1
    %ul
      %li.link
        %a.link-text#about-magma-link{ href: '/2014/about' }= t('menu.about')
      %li.link.without-border
        %a.link-text#speakers-link{ href: '/2014/speakers' }= t('menu.speakers')
      %li#main-section-link.without-border
        %a{href: '/2014'}
          #magma-logo
      %li.link
        %a.link-text#sponsors-link{ href: '/2014/sponsors' }= t('menu.sponsors')
      %li.link.without-border
        %a.link-text.blog-link{ href: 'http://blog.magmaconf.com/', target: '_blank' }= t('menu.magma_blog')
    %a#btn-menu
      %span
      %span
      %span

#mobile-header.pure-g-r
  .pure-u-1-1
    %a#btn-mobile-header
      %span
      %span
      %span
    %span#menu.link= t('menu.menu')
    %a{href: '/'}
      #magma-logo
    %a#register.link{ href: 'http://magmaconf2014.eventbrite.com/', target: '_blank' }
      = t('menu.register')

