-# %li
  -# = link_to 'Spotlight', '#spotlight', "data-action" => 'spotlight'
%li
  = link_to 'Keynotes', '#keynotes', "data-action" => 'keynotes'
%li
  = link_to 'Venue', '#venue', "data-action" => 'venue'
%li
  = link_to 'Sponsorship', '#sponsorship', "data-action" => 'sponsorship'
%li
  = link_to 'Pricing', '#pricing', "data-action" => 'pricing'
%li
  = link_to '2012', 'http://magmazine.magmaconf.com/2012/en', target: '_blank'
