%li
  = link_to 'Spotlight', '#spotlight', "data-action" => 'spotlight'
%li
  = link_to 'Keynotes', '#keynotes', "data-action" => 'keynotes'
%li
  = link_to 'Call for papers', '#call-for-papers', "data-action" => 'call-for-papers'
%li
  = link_to 'Venue', '#venue', "data-action" => 'venue'
%li
  = link_to 'Sponsoring', '#sponsoring', "data-action" => 'sponsoring'
