= check_box_tag 'menu-mobile-handler',1,nil, class: 'menu-handler'
%script#temp-menu-mobile{:type => "text/x-template"}
  = render 'partials/menu_links'
  %li.sponsors
    %p Sponsors

#menu-mobile
  %ul.menu-links.navigation
  %ul.sponsors-list
    %li
      = link_to 'http://www.crowdint.com' do
        = image_tag 'mobile/sponsors/crowdint.png'

  %ul.social
    = render 'partials/social_links'
  .footer
    = render 'partials/footer_text'



