= check_box_tag 'mobile_menu_handler'
.menu_mobile
  %ul
    %li
      = link_to 'Spotlight', '#', "data-action" => 'home'
    %li
      = link_to 'Keynotes', '#', "data-action" => 'keynotes'
    %li
      = link_to 'Call for papers', '#', "data-action" => 'call-for-papers'
    %li.sponsors
      = link_to 'sponsors'
  %ul.social
    %li.fb
      = link_to 'facebook', 'http://www.facebook.com/magmaconf'
    %li.twt
      = link_to 'twitter', 'http://twitter.com/magmaconf'
    %li.gplus
      = link_to 'google plus', 'https://plus.google.com/108479926406306482358/posts'


