.social-media
  %section.wrapper
    .social-media-facebook
      .social-media-separator
      .mask-separator
      = image_tag('infographic/new-fb-followers.png', class: 'fb-followers')
      = image_tag('infographic/impressions.png', class: 'fb-impressions')
    .social-media-twitter
      = image_tag('infographic/new-twitter-followers.png', class: 'twitter-followers')
      = image_tag('infographic/contributors.png', class: 'twitter-contributors')
      = image_tag('infographic/tweets.png', class: 'twitter-tweets')
      = image_tag('infographic/timeline-deliveries.png', class: 'twitter-timeline')
      = image_tag('infographic/reach.png', class: 'twitter-reach')

.triangle-wrapper
  .triangle-separator
    .left-triangle
    .right-triangle

.trending-topics
  %article.wrapper.trending-topics-wrapper
    %header
      %span.star
      %h1
        Trending
        %span Topics
      %span.star
      %h2 #Magmaconf
      .thunderline
      %h2 #Chocalas
    .tecnicos
      %h2 #Tecnicos
    .rudos
      %h2 #Rudos
