.social-media-wrapper
  .wrapper
    %section.social-media
      .social-networks-facebook
        .social-networks-separator
        .mask-separator
        = image_tag('infographic/new-fb-followers.png', class: 'fb-followers')
        = image_tag('infographic/impressions.png', class: 'fb-impressions')
      .social-networks-twitter
        = image_tag('infographic/new-twitter-followers.png', class: 'twitter-followers')
        = image_tag('infographic/contributors.png', class: 'twitter-contributors')
        = image_tag('infographic/tweets.png', class: 'twitter-tweets')
        = image_tag('infographic/timeline-deliveries.png', class: 'twitter-timeline')
        = image_tag('infographic/reach.png', class: 'twitter-reach')

.separator-wrapper
  .treding-topics-separator
    .tecnicos-separator
    .rudos-separator
.trending-topics-wrapper
  .wrapper
    %article.trending-topics
      %header
        %span.star
        %h1
          Trending
          %span Topics
        %span.star
        %h2 #Magmaconf
        .thunderline
        %h2 #Chocalas
      .tecnicos
        %h2 #Tecnicos
      .rudos
        %h2 #Rudos
