.flipper-md
  .normal-box
    %img.masked{src: image_path("2015/speakers/#{image_name(locals[:name])}_m.png") }
    %img.unmasked{src: image_path("2015/speakers/#{image_name(locals[:name])}.png")}
    .luchador-name-md= locals[:name]
    .luchador-nickname-md= locals[:nickname]
    %a.more See more >
  .info-box
    .luchador-name-md= locals[:name]
    .bio= locals[:bio]
    %a.more < See less
