%script#temp-spotlight{:type => "text/x-template"}
  #spotlight.slide.active.mask
    .container
      = image_tag 'home/gray-reylero.svg', class: 'img-gray'
      = image_tag 'home/color-reylero.svg', class: 'img-color'
      = image_tag 'home/bottom-bagde.svg', class: 'bottom-badge'
    = link_to '#', id: 'unmask' do
      = image_tag 'home/reylero-pulling.svg'

%script#temp-keynotes{:type => "text/x-template"}
  #keynotes.slide
    .container
      = image_tag 'keynotes/keynotes-main.svg'

%script#temp-call-for-papers{:type => "text/x-template"}
  #call-for-papers.slide
    .container
      = image_tag 'cfp/cfp-main.svg'
      = link_to 'http://cfp.magmaconf.com' do
        = image_tag 'cfp/cfp-link.svg'


#slider.spotlight.mask


:javascript
  $(function() {
    window.home = new Magma.home;
    if ( $(window).width() < 700 ) {
    }
  });
