%section#home
  .row
    .column.large-12
      #slider
        = image_tag 'new/home/pic_01.jpg'
      = image_tag 'new/magmaconfishappening_02.svg', class: 'staff'


%section#sponsorship
  .row
    .column.large-12.large-centered.hide-for-small
      = image_tag 'new/sponsors/los-sponsors.svg', class: 'sponsor'
  .row.hide-for-medium-up
    .column.large-1.title-black
      %h2.black-h2 los sponsors
  .row
    .column.large-12.large-centered
      .spons
        - @sponsor.each do |sponsor|
          = link_to "#{sponsor[:link]}", target: "_blank" do
            = image_tag "#{sponsor[:image]}"
      .gold
        - @sponsors_gold.each do |sponsor|
          = link_to "#{sponsor.first[:link]}", target: "_blank" do
            = image_tag "#{sponsor.first[:image]}"
      .spon_mobi
        - @sponsors_gold.each do |sponsor|
          = link_to "#{sponsor.first[:link]}", target: "_blank" do
            = image_tag "#{sponsor.first[:image]}"
      .midium
        - @sponsors_midium.each do |sponsor|
          = link_to "#{sponsor.first[:link]}", target: "_blank" do
            = image_tag "#{sponsor.first[:image]}"
      .silver
        - @sponsors_silver.each do |sponsor|
          = link_to "#{sponsor.first[:link]}", target: "_blank" do
            = image_tag "#{sponsor.first[:image]}"
  .row.media_sponsor
    = image_tag "new/sponsors/los-media-sponsors.svg"
    = link_to "http://gadgetsgirls.com/", target: "_blank" do
      = image_tag "new/sponsors/gadget-girls.svg"
    = link_to "http://angelhack.com/", target: "_blank" do
      = image_tag "new/sponsors/angelhack.svg"
    = link_to "http://www.ucol.mx/docencia/facultades/mercadotecnia/", target: "_blank" do
      = image_tag "new/sponsors/e-m.svg"

  .row.anti_harassment
    %p
      Magma Conf is dedicated to a harassment-free conference experience for everyone. We basically ask all participants (Speakers, Staff, Attendees) to respect one another. Our anti-harassment policy can be found
      = link_to "here", "http://magmazine.magmaconf.com/en/anti-harassment", target: "_blank"
