#slider.home.mask
  #home.slide.active.mask
    .container
      .reylero
        = image_tag 'home/gray-reylero.png', class: 'img-gray'
        = image_tag 'home/color-reylero.png', class: 'img-color'
        = image_tag 'home/bottom-bagde.png', class: 'bottom-badge'
    = link_to '#', id: 'unmask' do
      = image_tag 'home/reylero-pulling.png'

  #keynotes.slide
    .container
      = image_tag 'keynotes/keynotes-main.png'

  #call-for-papers.slide
    .container
      = image_tag 'cfp/cfp-main.png'
      = link_to 'cfp.magmarails.com' do
        = image_tag 'cfp/cfp-link.png'



:javascript
  $(function() {
    return window.home = new Magma.home;
  });
