%section#home.row
  .column.large-12.large-centered
    .row
      .column.large-5.main-image
        = link_to 'http://magmaconf.boletia.com/new-booking', onclick: "_gaq.push(['_trackEvent', 'tickets', 'main'])",  target: '_blank'  do
          = image_tag 'new/buy-tickets.png'
      .column.large-6.large-offset-1.info
        %p
          MagmaRails is now
          %strong MagmaConf!
          , one of the most important web development conferences in Mexico; with
          Ruby, Ruby on Rails, Frontend and more web technologies sessions for developers
          and engineers that build cutting-edge web applications.  Come and learn
          from our speakers about tools, techniques and their experiences.
        %p
          Join us at Manzanillo and live the MagmaConf experience, meet engineers
          from all around the world, chat with our speakers and have the chance to
          swim in the warmest waters of Mexico.

%section#speakers{"data-magellan-destination"=>"keynotes"}
  .row
    .column.large-6.large-centered.hide-for-small
      %h2= image_tag 'new/speakers/keynotes.png'
  .row.hide-for-medium-up
    .column.large-1.title-black
      %h2.black-h2 Keynotes
  .row
    #keynotes
      .column.large-4
        = link_to "http://magmazine.magmaconf.com/en/keynotes", target: '_blank' do
          = image_tag 'keynotes/keynotes-santiago.svg'
      .column.large-4
        = link_to "http://magmazine.magmaconf.com/en/keynotes", target: '_blank' do
          = image_tag 'keynotes/keynotes-gregg.svg'
      .column.large-4
        = link_to "http://magmazine.magmaconf.com/en/keynotes", target: '_blank' do
          = image_tag 'keynotes/keynotes-bryan.svg'
  .row.hide-for-medium-up
    .column.large-1.title-black
      %h2.black-h2 the speakers

  .row
    #speaker-wrap.column.large-12
      .row.hide-for-small
        .column.large-4.large-centered
          %h2.black-h2 the speakers
      %ul#speakers-list.large-block-grid-4
        - @speakers.each do |speaker|
          %li
            .front
              = image_tag 'new/speakers/mask.png'
              %p.name
                = speaker.first[:name]
            .back
              .info
                %h4= link_to "@#{speaker.first[:twitter]}", "http://twitter.com/#{speaker.first[:twitter]}", target: "_blank"
                %p=raw speaker.first[:bio]
      %ul#speakers-list.column.large-3.large-centered
        %li.solo
          .front
            = image_tag 'new/speakers/mask.png'
            %p.name
              Konstantin Haase
          .back
            .info
              %h4= link_to '@konstantinhaase', 'http://twitter.com/konstantinhaase', target: '_blank'
              %p
                A german working at TravisCI, who works in so many OSS projects, like: Sinatra, Puma, Rubinius 

%section#location
  .back_blue
    .row
      .column.large-6.large-centered.hide-for-small
        %h2= image_tag 'new/location/location.png', class: 'location-title'
  .row.hide-for-medium-up
    .column.large-1.title-black
      %h2.black-h2 Location
  .row.margin_add
    .column.large-7.info

      %p
        Manzanillo is known as the World's Sailfish Capital.  Since 1957,
        it has hosted important national and international fishing competitions,
        making it a very attractive fishing destination.
      %p
        Located in the Pacific Ocean, Manzanillo is the populous city of
        the State of Colima, México. It has a highly developed
        infrastructure for all kinds of tourism, including luxury hotels in
        which you can have business meetings or just get away from the routine,
        three excellent golf courts surrounded by lakes and exuberant vegetation,
        and many cool bars and restaurants.
      %p
        Manzanillo’s International Airport is only 15 minutes away from the
        MagmaConf Venue.
    .column.large-5
      = image_tag 'new/location/manzanillo.png'

%section#venue
  .row
    .column.large-2.hide-for-small
      = image_tag 'new/location/venue.png'
    .column.large-4
      %h3
        Venue
      = link_to 'http://goo.gl/maps/46s8I', target: '_blank'  do
        Centro de Tecnología Educativa
        %br
        Universidad de Colima
        %br
        Campus El Naranjo
      %p.address Address
      %ul.vcard
        %li.fn Universidad de Colima Campus El Naranjo,
        %li.street Carretera Manzanillo-Cihuatlán kilómetro 20,
        %li.locality
          Manzanillo,
          %span Colima
        %li
          %span.country México,
          %span.zip 28860
      %p
        Located in the University of Colima’s El Naranjo campus,
        the Center of Educational Technology is a first-class teaching-
        turned-conference facility, featuring comfortable seating, wireless
        internet, and air conditioning.
    .column.large-2.large-offset-1.hide-for-small
      = image_tag 'new/location/magma-vilage.png'
    .column.large-3
      %h3 Magma Village
      %p
        Magma Village is our official housing option. Located in the
        exclusive Santiago Beach Club, it has the best beaches in Manzanillo.
        There you can enjoy the fun under the sun, and the lovely starry skies at
        night.
      %p
        Close to the beach, Magma Village will give you the opportunity of mixing
        the serious stuff with the pleasure of enjoying the ocean that lies
        just a few steps from your accommodation.
      = link_to 'more information', 'http://magmazine.magmaconf.com/en/faq', target: '_blank'

%section#pricing
  .back_blue
    .row
      .column.large-6.large-centered.hide-for-small
        = image_tag 'new/pricing/pricing.png', class: 'title'
  .row.hide-for-medium-up
    .column.large-1.title-black
      %h2.black-h2 el pricing
  .row.margin_add_pricing
    %ul.large-block-grid-3
      %li
        = image_tag 'new/pricing/ticket-only.png', class: 'ticket-title'
        %p.first early bird
        = link_to 'http://magmaconf.boletia.com/new-booking', onclick: "_gaq.push(['_trackEvent', 'tickets', 'only'])",  target: '_blank' do
          = image_tag 'new/pricing/new-booking-2.png'
        %p regular
        %strong $1,200.00 mxn
        %p.around around $100.00 usd
      %li
        = image_tag 'new/pricing/ticket-meals.png', class: 'ticket-title'
        %p.first early bird
        = link_to 'http://magmaconf.boletia.com/new-booking', onclick: "_gaq.push(['_trackEvent', 'tickets', 'meal'])",  target: '_blank' do
          = image_tag 'new/pricing/new-booking.png'
        %p regular
        %strong $1,500.00 mxn
        %p.around around $125.00 usd
      %li.last
        = image_tag 'new/pricing/ticket-meals.png', class: 'ticket-title'
        = image_tag 'new/pricing/hosting.png', class: 'hosting'
        %p.magma-village
          for more information about hosting at the
          %strong  magma village
          please contact us at
          = mail_to 'info@magmaconf.com'

%section#sponsorship
  .row
    .column.large-12.large-centered.hide-for-small
      = image_tag 'new/sponsors/el_sponsoring.png', class: 'sponsor'
  .row.hide-for-medium-up
    .column.large-1.title-black
      %h2.black-h2 el sponsorship
  .row
    .column.large-12.large-centered
      = link_to 'http://magmaconf.s3.amazonaws.com/sponsorship/prospectus-magmaconf.pdf', target: '_blank' do
        = image_tag 'new/sponsors/prospectus-magmaconf.svg'
