%section#main
  #preload
    #preload-inner
  %h1 MAGMA RAILS 2013 | We are working extremely hard to give you the best Magma Event Ever...
  = image_tag("fresh-paint.png", id: "fresh-paint-pic", alt: "Bkg")
  #parallax
    #parallax-inner
      = image_tag("lights.jpg", class: "lights", alt: "Bkg")
      = image_tag("floor.gif", class: "floor", alt: "Bkg")
      = image_tag("body.png", class: "body", alt: "Bkg")
      = image_tag("eyes.png", class: "eyes", alt: "Bkg")
      = image_tag("head.png", class: "head", alt: "Bkg")
      = image_tag("hands.png", class: "hands", alt: "Bkg")
    #paint
  %a#calltoaction{:href => "http://magmazine.magmarails.com", :title => "Stay tuned to our Magmazine"} Stay tuned to our Magmazine