%section#home
  .row
    .column.large-12
      .img_top
        = image_tag 'new/home/pic_01.jpg'
      = image_tag 'new/magmaconfishappening.svg'

%section#schedule
  .row
    .column.large-6.large-centered.hide-for-small
      = image_tag 'new/schedule/schedule.svg', class: 'title'
  .row.hide-for-medium-up
    .column.large-1.title-black
      %h2.black-h2 schedule
  .row
    .column.large-4
      = image_tag "new/schedule/title_wednesday.svg", class: 'day'
      - @wednesday.each do |wednesday|
        .row-schedule
          .hour= wednesday.first[:hour]
          .name= wednesday.first[:name]
          .img-key= image_tag "#{wednesday.first[:img_key]}"
          .name-presentation= wednesday.first[:name_presentation]
          .img= image_tag "#{wednesday.first[:img]}"
    .column.large-4
      = image_tag "new/schedule/title_thursday.svg", class: 'day'
      - @thursday.each do |thursday|
        .row-schedule
          .name2= thursday.first[:name]
          .img-key= image_tag "#{thursday.first[:img_key]}"
          .name-presentation2= thursday.first[:name_presentation]
          .img= image_tag "#{thursday.first[:img]}"
    .column.large-4
      = image_tag "new/schedule/title_friday.svg", class: 'day'
      - @friday.each do |friday|
        .row-schedule
          .name2= friday.first[:name]
          .img-key= image_tag "#{friday.first[:img_key]}"
          .name-presentation2= friday.first[:name_presentation]
          .img= image_tag "#{friday.first[:img]}"


%section#location
  .row
    .column.large-6.large-centered.hide-for-small
      = image_tag 'new/location/location.svg', class: 'title'
  .row.hide-for-medium-up
    .column.large-1.title-black
      %h2.black-h2 location
  .row
    .column.large-9
      = image_tag 'new/manzanillo_map.jpg'
    .column.large-3
      .start-one
      %p MAGMA CONF 2013
      .start-two
      %p MAGMA Village
      .start-three
      %p Supermarkets area
      .start-four
      %p Mare night club
      .start-five
      %p Sunset night club
      .start-six
      %p Manzanillo downtoun

%section#sponsorship
  .row
    .column.large-12.large-centered.hide-for-small
      = image_tag 'new/sponsors/los-sponsors.svg', class: 'sponsor'
  .row.hide-for-medium-up
    .column.large-1.title-black
      %h2.black-h2 los sponsors
  .row
    .column.large-12.large-centered
      .spons
        - @sponsor.each do |sponsor|
          = link_to "#{sponsor[:link]}", target: "_blank" do
            = image_tag "#{sponsor[:image]}"
      .gold
        - @sponsors_gold.each do |sponsor|
          = link_to "#{sponsor.first[:link]}", target: "_blank" do
            = image_tag "#{sponsor.first[:image]}"
      .spon_mobi
        - @sponsors_gold.each do |sponsor|
          = link_to "#{sponsor.first[:link]}", target: "_blank" do
            = image_tag "#{sponsor.first[:image]}"
      .midium
        - @sponsors_midium.each do |sponsor|
          = link_to "#{sponsor.first[:link]}", target: "_blank" do
            = image_tag "#{sponsor.first[:image]}"
      .silver
        - @sponsors_silver.each do |sponsor|
          = link_to "#{sponsor.first[:link]}", target: "_blank" do
            = image_tag "#{sponsor.first[:image]}"
  .row.media_sponsor
    = image_tag "new/sponsors/los-media-sponsors.svg"
    = link_to "http://gadgetsgirls.com/", target: "_blank" do
      = image_tag "new/sponsors/gadget-girls.svg"
    = link_to "http://angelhack.com/", target: "_blank" do
      = image_tag "new/sponsors/angelhack.svg"
    = link_to "http://www.ucol.mx/docencia/facultades/mercadotecnia/", target: "_blank" do
      = image_tag "new/sponsors/e-m.svg"

  .row.anti_harassment
    %p
      Magma Conf is dedicated to a harassment-free conference experience for everyone. We basically ask all participants (Speakers, Staff, Attendees) to respect one another. Our anti-harassment policy can be found
      = link_to "here", "http://magmazine.magmaconf.com/en/anti-harassment", target: "_blank"
