%section#home.row
  .column.large-12.large-centered
    .row
      .column.large-5
        = link_to 'http://magmaconf.boletia.com/new-booking' do
          = image_tag 'new/buy-tickets.png'
      .column.large-6.large-offset-1
        %p
          MagmaRails is now
          %strong MagmaConf!
          , one of the most important web development conferences in Mexico; with
          Ruby, Rails, Frontend and more web tecnologies sessions for developers
          and engineers that build cutting-edge web applications.  Come and learn
          from our speakers about tools, techniques and their experiences.
        %p
          Join us at Manzanillo and live the MagmaConf experience, meet engineers
          from all around the world, chat with our speakers and have the chance to
          swim in the warmest waters of Mexico.
%section#speakers
  .row
    .column.large-6.large-centered
      %h2= image_tag 'new/speakers/speakers.png'
    #keynotes.row
      .column.large-4
        = link_to "http://magmazine.magmaconf.com/en/keynotes" do
          = image_tag 'new/speakers/santiago-pastorino.png'
      .column.large-4
        = link_to "http://magmazine.magmaconf.com/en/keynotes" do
          = image_tag 'new/speakers/gregg-pollack.png'
      .column.large-4
        = link_to "http://magmazine.magmaconf.com/en/keynotes" do
          = image_tag 'new/speakers/bryan-liles.png'
    .row
      #schedule.column.large12


%section#location
  .row
    .column.large-6.large-centered
      %h2= image_tag 'new/location/location.png', class: 'location-title'
    .row
      .column.large-7
        %p
          Manzanillo is known as the World's Sailfish Capital.  Since 1957,
          it has hosted important national and international fishing competitions,
          making it a very attractive fishing destination.
        %p
          Located in the Pacific Ocean, Manzanillo is the populous city of
          the State of Colima, México. It has a highly developed
          infrastructure for all kinds of tourism, including luxury hotels in
          which you can have business meetings or just get away from the routine,
          three excellent golf courts surrounded by lakes and exuberant vegetation,
          and many cool bars and restaurants.
        %p
          Manzanillo’s International Airport is only 15 minutes away from the
          MagmaConf Venue.
      .column.large-5
        = image_tag 'new/location/manzanillo.png'

%section#venue
  .row
    .column.large-2
      = image_tag 'new/location/venue.png'
    .column.large-4
      %h3
        Venue
      = link_to 'http://goo.gl/maps/46s8I' do
        Centro de Tecnología Educativa
        %br
        Universidad de Colima
        %br
        Campus El Naranjo
      %p.address Address
      %ul.vcard
        %li.fn Universidad de Colima Campus El Naranjo,
        %li.street Carretera Manzanillo-Cihuatlán kilómetro 20,
        %li.locality
          Manzanillo,
          %span Colimaa
        %li
          %span.country México,
          %span.zip 28860
      %p
        Located in the University of Colima’s El Naranjo campus,
        the Center of Educational Technology is a first-class teaching-
        turned-conference facility, featuring comfortable seating, wireless
        internet, and air conditioning.
    .column.large-2.large-offset-1
      = image_tag 'new/location/magma-vilage.png'
    .column.large-3
      %h3 Magma village
      %p
        Magma VIllage is our official housing option. Located in the
        exclusive Santiago Beach Club, it has the best beaches in Manzanillo.
        There you can enjoy the fun under the sun, and the lovely starry skyes at
        night.
      %p
        Close to the beach, Magma Village will give you the opportunity of mixing
        the serious stuff with the pleasure of enjoying the ocean that lies
        just a few steps from your accommodation.
      = link_to 'more information', 'http://magmazine.magmaconf.com/en/faq'


%section#sponsorship
  .row
    .column.large-12.large-centered
      = link_to '#' do
        = image_tag 'new/sponsors/sponsorship.png'
