%script#temp-spotlight{:type => "text/x-template"}
  #spotlight.slide.active.mask
    .container
      = image_tag 'home/gray-reylero.svg', class: 'img-gray'
      = image_tag 'home/color-reylero.svg', class: 'img-color'
      = image_tag 'home/bottom-bagde.svg', class: 'bottom-badge'
    = link_to '#', id: 'unmask' do
      = image_tag 'home/reylero-pulling.svg'

%script#temp-keynotes{:type => "text/x-template"}
  #keynotes.slide
    .container
      = image_tag 'keynotes/keynotes-main.svg'

%script#temp-call-for-papers{:type => "text/x-template"}
  #call-for-papers.slide
    .container
      = image_tag 'cfp/cfp-main.svg'
      = link_to 'http://cfp.magmaconf.com' do
        = image_tag 'cfp/cfp-link.svg'

%script#temp-venue{:type => "text/x-template"}
  #venue.slide
    .container
      = image_tag 'venue/venue-main.svg'
      .venue-images
        .img-1
        .img-2
        .img-3
        .img-4
        .img-5
        .img-6

%script#temp-sponsorship{:type => 'text/x-template'}
  #sponsorship.slide
    .container
      = image_tag 'sponsorship/sponsorship.svg'
      .notice
      = form_tag(contacts_path, :remote => true) do
        .center
          .errors.alert-error.alert.span6
        .inout-prepend.input-append
          %span.add-on
            = image_tag 'sponsorship/name.svg'
          = text_field_tag 'contact[name]', '',class: 'span4 input', placeholder: 'Name'
          %span.add-on
            = image_tag 'sponsorship/blue-star.svg'
        .inout-prepend.input-append
          %span.add-on
            = image_tag 'sponsorship/email.svg'
          = text_field_tag 'contact[email]', '',class: 'span4 input', placeholder: 'Email'
          %span.add-on
            = image_tag 'sponsorship/blue-star.svg'
        .input-prepend.input-append
          %span.add-on
            = image_tag 'sponsorship/company.svg'
          = text_field_tag 'contact[company]', '',class: 'span4 input', placeholder: 'Company'
          %span.add-on
            = image_tag 'sponsorship/blue-star.svg'

        .control-group
          .controls
            = link_to '#', class:'submit' do
              = image_tag 'sponsorship/get-more-info.svg'




#slider.spotlight.mask



  = link_to 'http://magmazine.magmaconf.com/en/faq', class: 'magmazine-footer hidden-desktop hidden-tablet' do
    = image_tag 'mobile/magmazine.png'
  = render 'partials/footer'


