%script#temp-spotlight{:type => "text/x-template"}
  .seo-friendly
    %h2 Magmaconf 2013
    %p more matches, more luchadores!
    %p no including ruby, rails, frontend and more...
    %p Manzanillo june 5 - 7 2013
  #spotlight.slide.active.mask
    .container
      = image_tag 'home/gray-reylero.svg', class: 'img-gray'
      = image_tag 'home/color-reylero.svg', class: 'img-color'
      = image_tag 'home/bottom-bagde.svg', class: 'bottom-badge'
    = link_to '#', id: 'unmask' do
      = image_tag 'home/reylero-pulling.svg'

%script#temp-keynotes{:type => "text/x-template"}
  .seo-friendly
    %h2 keynotes
    %p Santiago pastorino
    %p gregg pollack
    %p bryan liles

  #keynotes.slide
    .container
      = image_tag 'keynotes/keynotes-main.svg'

%script#temp-call-for-papers{:type => "text/x-template"}
  .seo-friendly
    %h2 Call for papers
    %p we want you for magmaconf
    %p send your proposal to our call for papers app

  #call-for-papers.slide
    .container
      = image_tag 'cfp/cfp-main.svg'
      = link_to 'http://cfp.magmaconf.com' do
        = image_tag 'cfp/cfp-link.svg'

%script#temp-venue{:type => "text/x-template"}
  .seo-friendly
    %h2 A beach you must in mexico
    %p
      Mexico, a natural beaty in the pacific, with its sunny and warm beaches
      is hard-to-beat location for our grand event!
    %h2 A great fun and relaxing place
    %p
      you could go on exciting snorkeling or scuba diving andventures on your
      spare time!
    %h2 Put simply: the best location for magmaconf!
    %p with cool bars and cafes, there's something for everyone in manzanillo.
    %p
      And it's also conveniently near to an international airpot that connects with
      los angeles, vancouvr, houston and mexico city.
    %h3
      see you there in june 5 - 7 2013
  #venue.slide
    .container
      = image_tag 'venue/venue-main.svg'
      .venue-images
        .img-1
        .img-2
        .img-3
        .img-4
        .img-5
        .img-6

%script#temp-sponsorship{:type => 'text/x-template'}
  .seo-friendly
    %h2 Sponsorship
    %p would you like sponsoring magma cong?
    %p then show me the money!
    %p for more information, please tell us how to contact you.
  #sponsorship.slide
    .container
      = image_tag 'sponsorship/sponsorship.svg'
      .form
        .control-group
          .controls
            = link_to 'Download Prospectus PDF', 'http://magmaconf.s3.amazonaws.com/sponsorship/prospectus-magmaconf.pdf', class:'submit', target: '_blank'
            %p.contact-us
              Contact us at
              = mail_to 'info@magmaconf.com'




#slider.spotlight.mask



  = link_to 'http://magmazine.magmaconf.com/en/faq', class: 'magmazine-footer hidden-desktop hidden-tablet' do
    = image_tag 'mobile/magmazine.png'
  = render 'partials/footer'


