#about-magma.pure-u-2-3{ class: I18n.locale.to_s }
  = render 'pages/2015/partials/pages_main_menu'
  .container
    .bgc-gly.pt50
      .pure-g-r
        .pure-u-1-1.ta-c.my30
          %h2.fz-50.m0.lh-40.dis-ib.bdb.bdc-mdy.c-mdy.fw-r.teko
            It's really easy to get here
          %br
          %h4.fz-30.m0.c-mdy.fw-l.teko.p0.text-with-stars
            June 18, 19 & 20 - Manzanillo, Col. MX

      .pure-g-r
        .getting-to-mzo-map

      .pure-g-r.tide.bdt-w-2.bdt-c-ato.bdt-s-s
        .pure-u-1-2.tide-image-container
          %img.tide-image{src: "#{image_path '2015/getting/compass@2x.jpg'}" }
        .pure-u-1-2.tide-text-container
          .tide-text.p20
            %p.m0.teko.c-mdy.fw-r.fz-20.mb30.tt-u= t('2015.getting_manzanillo.help.title')
            %p.m0.opens.c-amlo.fw-r.fz-14
              = t('2015.getting_manzanillo.help.description').html_safe

      .pure-g-r.tide
        .pure-u-1-2.tide-image-container
          %img.tide-image{src: "#{image_path '2015/getting/planningtrip@2x.jpg'}" }
        .pure-u-1-2.tide-text-container
          .tide-text.p20
            %p.m0.teko.c-mdy.fw-r.fz-20.mb30.tt-u= t('2015.getting_manzanillo.planning.title')
            %p.m0.opens.c-amlo.fw-r.fz-14
              = t('2015.getting_manzanillo.planning.description').html_safe

      .pure-g-r.tide
        .pure-u-1-2.tide-image-container
          %img.tide-image{src: "#{image_path '2015/getting/airport_mzo@2x.jpg'}"}
        .pure-u-1-2.tide-text-container
          .tide-text.p20
            %p.m0.teko.c-mdy.fw-r.fz-20.mb30.tt-u= t('2015.getting_manzanillo.manzanillo.title')
            %p.m0.opens.c-amlo.fw-r.fz-14
              = t('2015.getting_manzanillo.manzanillo.description').html_safe

      .pure-g-r.tide.pos-r
        .pure-u-1-2.tide-image-container
          %img.tide-image{src: "#{image_path '2015/getting/airport_gdl@2x.jpg'}" }
        .pure-u-1-2.tide-text-container
          .tide-text.p20
            %p.m0.teko.c-mdy.fw-r.fz-20.mb30.tt-u= t('2015.getting_manzanillo.guadalajara.title')
            %p.m0.opens.c-amlo.fw-r.fz-14
              = t('2015.getting_manzanillo.guadalajara.description').html_safe
            .pos-a.pos-b10.fz-10.c-amlo.fw-l Photo by: TheJesus1599 "Panoramio

      .pure-g-r.tide
        .pure-u-1-2.tide-image-container
          %img.tide-image{src: "#{image_path '2015/getting/about_mzo@2x.jpg'}" }
        .pure-u-1-2.tide-text-container
          .tide-text.p20
            %p.m0.teko.c-mdy.fw-r.fz-20.mb30.tt-u= t('2015.getting_manzanillo.about_manzanillo.title')
            %p.m0.opens.c-amlo.fw-r.fz-14
              = t('2015.getting_manzanillo.about_manzanillo.description').html_safe


