#main-section
  .container
    .pure-g-r
      .pure-u-1-3
      .pure-u-1-3.center
        %img#thanks{src: "#{image_path '2015/Wrestler.svg'}"}
        %p{ class: "#{ I18n.locale.to_s } over over-small" }
          %span.separator.separator-big
          %span.hero-text= t('home.hero_text')
          %span.separator.separator-big
          %span.dates-text= t('home.dates_text')
          %span.separator.separator-big
          %span.venues-text= t('home.venue_text')
          %span.separator.separator-big

        %p{ class: "#{ I18n.locale.to_s } over over-small" }
          %span.content-text.highlight= t('home.content_text')
          %span.content-text= t('home.content_text_line2')
          %span.content-text= t('home.content_text_line3')

        %p{ class: "#{ I18n.locale.to_s } over over-small" }
          %span.keynote-text
            = image_tag '2015/Star.svg', class: 'star'
            = t('home.keynote_text')
            = image_tag '2015/Star.svg', class: 'star'
          %span.keynote-text2= t('home.keynote_text_line2')
          %span.keynote-text3= t('home.keynote_text_line3')

        %p.organized-label
          = t('post_magma.organized_by')

        = link_to 'http://crowdint.com' do
          = image_tag '2015/LogoCrowd1.svg', class: 'crowdint-logo'

        %p

        = render 'partials/social_buttons'

        %p{ class: "#{ I18n.locale.to_s } over over-small" }
          %span.tuned-text= t('home.tuned_text')
          %span.tuned-text.highlight= t('home.tuned_text_line2')

#newsletter
  %section
    .pure-g-r
      .pure-u-1-1.content
        %ul#scene
          %li.layer{ data: { depth: '0'} }= image_tag('2015/n-2-01.png', class: 'banner')
        %p#stay-up.small.before= t('home.newsletter.stay_up_to_day')
        %p#subscribe.big.before= t('home.newsletter.subscribe')
        %p#thanks.big.after= t('home.newsletter.thanks')
        %p#keep.small.after= t('home.newsletter.keep')
        .form-container.before
          #message-box
            %button.close
              x
            %span
          %form#newsletter-form
            %fieldset
              .field.name
                %label{for: 'name'}= t('newsletter-form.fields.name')
                %span *
                %input{name: 'name', type: 'text'}
              .field
                %label{for: 'email'}= t('newsletter-form.fields.email')
                %span *
                %input{name: 'email', type: 'email'}
              %input.submit{type: 'submit', value: t('newsletter-form.fields.submit')}

= javascript_include_tag 'jquery.parallax'

:coffee
  $(document).ready ->
    $('#scene').parallax();
    $('body').addClass('hover');

    setTimeout ( ->
      $('#main-menu.index').addClass('hover');
    ), 2500
