.pure-g-r.infographic
  = render 'partials/infographic/heading'
  = render 'partials/infographic/attendees'
  = render 'partials/infographic/speakers'
  = render 'partials/infographic/lightning_talks'
  = render 'partials/infographic/academia'
  = render 'partials/infographic/attendees_map'
  = render 'partials/infographic/magma_village'
  = render 'partials/infographic/consumables'
  = render 'partials/infographic/sponsors'
  = render 'partials/infographic/social_media'
  = render 'partials/infographic/organized_by'

