#main-section
  .container
    .pure-g-r
      .pure-u-1-3
      .pure-u-1-3.center
        %img#thanks{src: "#{image_path 'thanks.svg'}"}
        %p.over= 'THE SHOW IS OVER'
        %p.over.over-small
          WE'LL SEE YOU NEXT YEAR!
          %span.separator.separator-big
          %span.separator

        = render 'pages/2014/partials/social_buttons'

        %p.organized-label
          proudly organized by

        = link_to 'http://crowdint.com' do
          = image_tag 'crowdint.svg', class: 'crowdint-logo'

      .pure-u-1-3.right
