#main-section
  .container
    .pure-g-r
      .pure-u-1-3
      .pure-u-1-3.center
        %img#thanks{src: "#{image_path 'thanks.svg'}"}
        %p.over= 'THE SHOW IS OVER'
        %p.over.over-small
          WE'LL SEE YOU NEXT YEAR!
          %span.separator.separator-big
          %span.separator

        = render 'pages/2014/partials/social_buttons'

        %p.organized-label
          proudly organized by

        = link_to 'http://crowdint.com' do
          = image_tag 'crowdint.svg', class: 'crowdint-logo'
#newsletter
  %section
    .pure-g-r
      .pure-u-1-1.content
        %img.banner{src: "#{image_path 'banner-image.svg'}"}
        %p#stay-up.small.before= t('home.newsletter.stay_up_to_day')
        %p#subscribe.big.before= t('home.newsletter.subscribe')
        %p#thanks.big.after= t('home.newsletter.thanks')
        %p#keep.small.after= t('home.newsletter.keep')
        .form-container.before
          %form#contact
            %fieldset
              .field.name
                %label{for: 'name'}= t('newsletter-form.fields.name')
                %span *
                %input{name: 'name', type: 'text'}
              .field
                %label{for: 'email'}= t('newsletter-form.fields.email')
                %span *
                %input{name: 'email', type: 'email'}
              %input.submit{type: 'submit', value: t('newsletter-form.fields.submit')}
