%section#speakers
  #presentation.pure-g-r.content
    .pure-u-1-4.illustration
      %img{ src: "#{ image_path 'speakers-illustration.png' }" }
    .pure-u-1-2
      .invitation
        %p.advice= t('speakers.advice')
        %p.title= t('speakers.title')
      .date
        %span.star
        %p.location= t('date')
        %span.star
    .pure-u-1-4
      %a.btn-register.small{ href: 'http://magmaconf2014.eventbrite.com/', target: '_blank' }
        %img{ src: "#{ image_path t('images.register') }" }
%section#keynotes
  .pure-g-r.content
    .pure-u-1.center
      %img{ src: "#{ image_path 'keynotes-title.png' }" }
  .pure-g-r.content
    .pure-u-1-5
    .pure-u-1-5.speaker-box
      .flipper
        .normal-box
          %img{ src: "#{ image_path 'desi-mcadam.png' }" }
          %span.speaker-name Desi McAdam
        .info-box
          %span @desi
          %p= t('keynotes.desi.bio')
      = render 'pages/2014/partials/accordion_mobile', locals: {name: 'Desi McAdam', img: 'desi-mcadam.png', bio: t('keynotes.desi.bio')}
    .pure-u-1-5.speaker-box
      .flipper
        .normal-box
          %img{ src: "#{ image_path 'fred-george.png' }" }
          %span.speaker-name Fred George
        .info-box
          %span @fgeorge52
          %p= t('keynotes.fred.bio')
      = render 'pages/2014/partials/accordion_mobile', locals: { name: 'Fred George', img: 'fred-george.png', bio: t('keynotes.fred.bio') }
    .pure-u-1-5.speaker-box
      .flipper
        .normal-box
          %img{ src: "#{ image_path 'sandy.png' }" }
          %span.speaker-name Sandi Metz
        .info-box
          %span @sandimetz
          %p= t('keynotes.sandi.bio')
      = render 'pages/2014/partials/accordion_mobile', locals: { name: 'Sandi Metz', img: 'sandy.png', bio: t('keynotes.sandi.bio') }
%section#speaker-cards
  .pure-g-r.content.speakers-title
    .pure-u-1.center
      %img{src: "#{image_path t('images.speakers-title')}"}
  .pure-g-r.content
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'manuel-vidaurre.png', name: 'Manuel Vidaurre', social: '@mvidaurre', bio: t('speakers.manuel.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'manuel-vidaurre.png', name: 'Manuel Vidaurre', bio: t('speakers.manuel.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'jesse-thoth.png', name: 'Jesse Toth', social: '@jesseplusplus', bio: t('speakers.jesse.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'jesse-thoth.png', name: 'Jesse Toth', bio: t('speakers.jesse.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'joe-wright.png', name: 'Joe Wright', social: '@joe_jag', bio: t('speakers.joe.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'joe-wright.png', name: 'Joe Wright', bio: t('speakers.joe.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'david-calavera.png', name: 'David Calavera', social: '@calavera', bio: t('speakers.david.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'david-calavera.png', name: 'David Calavera', bio: t('speakers.david.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'zachary-scott.png', name: 'Zachary Scott', social: '@_zzak', bio: t('speakers.zachary.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'zachary-scott.png', name: 'zachary scott', bio: t('speakers.zachary.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'richard-schneeman.png', name: 'Richard Schneeman', social: '@schneems', bio: t('speakers.richard.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'richard-schneeman.png', name: 'Richard Schneeman', bio: t('speakers.richard.bio') }
  .pure-g-r.content
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'mark-kirk.png', name: 'Matt Kirk', social: '@mjkirk', bio: t('speakers.matthew.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'mark-kirk.png', name: 'Matt Kirk', bio: t('speakers.matthew.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'blake.png', name: 'Blake Mizerany', social: '@bmizerany', bio: t('speakers.blake.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'blake.png', name: 'Blake Mizerany', bio: t('speakers.blake.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'daniel-rios.png', name: 'Daniel Ríos', social: '@ieldanr', bio: t('speakers.daniel.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'daniel-rios.png', name: 'Daniel Ríos', bio: t('speakers.daniel.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'andre-arko.png', name: 'André;', social: '@indirect', bio: t('speakers.andre.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'andre-arko.png', name: 'André', bio: t('speakers.andre.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'johnny-winn.png', name: 'Johnny Winn', social: '@johnny_rugger', bio: t('speakers.johnny.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'johnny-winn.png', name: 'Johnny Winn', bio: t('speakers.johnny.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'adam-rogers.png', name: 'Adam Rogers', social: '@rodreegez', bio: t('speakers.adam.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'adam-rogers.png', name: 'Adam Rogers', bio: t('speakers.adam.bio') }
  .pure-g-r.content
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'leo-salazar.png', name: 'Leo Salazar', social: '@leonor_salazar', bio: t('speakers.leo.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'leo-salazar.png', name: 'Leo Salazar', bio: t('speakers.leo.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'nick.png', name: 'Nick Rowe', social: '@nixterrimus', bio: t('speakers.nick.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'nick.png', name: 'Nick Rowe', bio: t('speakers.nick.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'konstantin.png', name: 'Konstantin Haase', social: '@konstantinhaase', bio: t('speakers.konstantin.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'konstantin.png', name: 'Konstantin Haase', bio: t('speakers.konstantin.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'Alex-Pyatetsky.png', name: 'Alex Pyatetsky', social: '@TheXander', bio: t('speakers.alex.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'Alex-Pyatetsky.png', name: 'Alex Pyatetsky', bio: t('speakers.alex.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'pj.png', name: 'PJ Hagerty', social: '@aspleenic', bio: t('speakers.pj.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'pj.png', name: 'PJ Hagerty', bio: t('speakers.pj.bio') }
    .pure-u-1-6.speaker-box
      = render 'pages/2014/partials/speaker_cards', locals: { img: 'david-mayer.png', name: 'David Meyer', social: '@meyerwork', bio: t('speakers.david-mayer.bio') }
      = render 'pages/2014/partials/accordion_mobile', locals: { img: 'david-mayer.png', name: 'David Meyer', bio: t('speakers.david-mayer.bio') }
%section#registration
  .top-box
    %img.shadow{ src: "#{ image_path 'shadow.png' }" }
    %a.btn-register{ href: 'http://magmaconf2014.eventbrite.com/', target: '_blank' }
      %img{ src: "#{ image_path t('images.register') }" }
