.gallery-box.large
  .inner-box
    %img{ src: data.thumbnail }
    %a.fancybox{ href: data.url, rel: 'gallery' }
      .mask
    .desc
      .photo-info
        %h1= data.title
        %h2 , by Konstantin Haase
        %p= data.description
      = render 'pages/2017/partials/gallery/share_buttons', data: data

    %h1= data.title
    .konstantin-water-mark
      = render 'pages/2017/partials/gallery/konstantino'
      %h2 by Konstantin Haase
    = render 'pages/2017/partials/gallery/share_buttons', data: data
