!!!
%html
  %head
    = render 'partials/application_header'
    = stylesheet_link_tag 'application', media: "all"
    = javascript_include_tag '2015/application'
  %body
    = render 'pages/2015/partials/pages_main_menu'
    = yield
    %footer
      = render 'partials/footer'
