#main-menu.index.pure-g-r{ class: "#{I18n.locale.to_s}" }
  .nav-menu
    %ul
      %li.link
        %a.link-text#about-magma-link{ href: '/about' }= t('menu.about')
      -#%li.link
        -#%a.link-text#speakers-link{ href: '#' }= t('menu.speakers')
      %li.link
        %a.link-text#schedule-link{ href: '/schedule' }= t('menu.schedule')
      %li.link
        %a.link-text#sponsors-link{ href: '/sponsors' }= t('menu.sponsors')
      %li.link#getting-to-manzanillo
        %a.link-text#getting-link{ href: '/getting' }= t('menu.getting_manzanillo')
      %li.link.without-border
        %a.link-text#sponsors-link{ href: 'mailto:info@magmaconf.com', target:'_blank' }= t('menu.contact-us')
      -#%li.link
        -#%a.link-text.blog-link{ href: 'http://blog.magmaconf.com/', target: '_blank' }= t('menu.blog')
      -#%li.link.without-border
        -#%a.link-text#sponsors-link{ href: 'http://store.magmaconf.com', target: '_blank' }= t('menu.store')

    %div.dis-b--t.pl15
      .nav-menu-separator
      %h2.teko.fw-r.fz-30.c-amlo.tt-u.ls-0.m-center.dis-b.ta-c
        Anti-harassment policy
      %p.policy-legend-mobile
        = t('home.policy.description')
        %a.open-popup{ href: '#' }= t('home.policy.here')

    %a.btn-register-mobile.teko.ol-n{ href: 'http://magmaconf2015.eventbrite.com', target: '_blank' } register

    %a#btn-menu
      %span
      %span
      %span
