.logo-container.bgc-mndy
  %a.magma-logo{href: '/'}
    = image_tag('2015/logo-magma.svg')
%img.thanks{src: "#{image_path '2015/sponsors/luchador_sponsors@2x.png' }", style: 'width: 143px;'}
  .side-text
    %span.separator.separator-big
    %span.dis-b.teko.fw-r.c-bwht.lh-40.mt10.side-text-we-need= 'WE NEED'
    %span.dis-b.teko.fw-r.c-bwht.lh-40.mt15.side-text-your= 'YOUR'
    %span.dis-b.teko.fw-r.c-whte.lh-40.mt10.side-text-support= 'SUPPORT'
    %span.separator.separator-big
