.consumables
  %section.wrapper.consumables-wrapper
    = image_tag('infographic/mexican-hot-dogs.png', class: 'mexican-hot-dogs')
    = image_tag('infographic/club-mate.png', class: 'club-mate')
    = image_tag('infographic/sombreros.png', class: 'sombreros')
    = image_tag('infographic/pinatas.png', class: 'pinatas')
    = image_tag('infographic/mechanical-bull.png', class: 'mechanical-bull')

