.pure-u-2-3.main-content-mobile{ class: I18n.locale.to_s }
  = render 'pages/2017/partials/pages_main_menu'
  .container.bgc-gry-ltr#speakers
    .pt30.p0--m
      .pure-g-r
        .pure-u-1-1.ta-c.my30.my15--m.mx10
          .speakers-ring-icon
            %h2.about-magma-title.fbg
              Speakers
            %h4.about-magma-subtitle
              March 29, 30 & 31 - Manzanillo, Col. MX

    %section#keynotes
      .pure-g-r.content
        - @speakers_data[:keynotes].each do |speaker|
          .speaker-box.keynote
            .flipper-lg
              .normal-box
                %img.masked.speaker-img{ src: speaker['image'] }
                %img.unmasked.speaker-img{ src: speaker['image'] }
                .luchador-name-lg
                  =speaker['name']
                -#.luchador-nickname-lg
                  =speaker['nickname']
                .luchador-keynote.c-mndy.fz-20.ta-c.fw-r
                  %span.keynote-star Keynote
                .mt10
                  %a.more
                    See bio >
              .info-box
                .close-icon &times;
                .luchador-name-lg
                  =speaker['name']
                .bio
                  = speaker['bio']
                .company-name
                  = speaker['company']
            = render 'pages/2017/partials/speakers/speaker_card_mobile', 
              locals: { name: speaker['name'], nickname: speaker['nickname'], bio: speaker['bio'],
              image_src: speaker['image'] }

    %section#speaker-cards
      .pure-g-r.content
        - @speakers_data[:speakers].each do |speaker|
          .speaker-box
            .flipper-md
              .normal-box
                %img.masked.speaker-img{ src: speaker['image'] }
                %img.unmasked.speaker-img{ src: speaker['image'] }
                .luchador-name-md
                  =speaker['name']
                -#.luchador-nickname-md
                  =speaker['nickname']
                .mt10
                  %a.more
                    See bio >
              .info-box
                .close-icon &times; 
                .luchador-name-md
                  =speaker['name']
                .bio
                  = speaker['bio']
                .company-name
                  = speaker['company']
            = render 'pages/2017/partials/speakers/speaker_card_mobile', 
              locals: { name: speaker['name'], nickname: speaker['nickname'], bio: speaker['bio'],
              image_src: speaker['image'] }
