.pure-u-2-3.main-content-mobile{ class: I18n.locale.to_s }
  = render 'pages/2017/partials/pages_main_menu'
  #schedule
    .container.schedule-container
      .pure-g-r
        .pure-u-1-1.ta-c.mt10.my15--m.mx10
          .schedule-ring-icon
            %h2.about-magma-title.star.fbg
              Arena&nbsp;&nbsp;&nbsp;Magma 
      .pure-g-r.border-red
        .pure-u-1-3.ta-c
          = render 'pages/2017/partials/schedule/small_stars_list'
        .pure-u-1-3
          %p.schedule-title= "#{ t('title') } #{ t('menu.schedule') }"
        .pure-u-1-3.ta-c
          = render 'pages/2017/partials/schedule/small_stars_list'
      .container.talks-container
        .four-columns
          .twelve-columns
            .day-header
              %h2.day-title Wednesday
          .twelve-columns.talk
            .event-container
              %h2.hour-event 9:00 AM
              %p.event-talk-name REGISTRATION
          .twelve-columns.talk
            .event-container
              %h2.hour-event 9:30 AM
              %p.event-talk-name WELCOME CEREMONY
          .twelve-columns.talk
            .event-container
              %h2.hour-event 9:40 AM
              %p.event-talk-name PREHISPANIC DANCE
          .twelve-columns.talk
            .event-container
              %h2.hour-event 10:00 AM
              %p.event-talk-name The Bait & Switch of Open Source
              %h2.event-speaker-name.keynote Katrina Owen
          .twelve-columns.talk
            .event-container
              %h2.hour-event 11:00 AM
              %p.event-talk-name Ecommerce is Hard
              %h2.event-speaker-name Clarke Brunsdon
          .twelve-columns.talk
            .event-container
              %h2.hour-event 11:40 AM
              %p.event-talk-name COFFEE BREAK
          .twelve-columns.talk
            .event-container
              %h2.hour-event 12:00 PM
              %p.event-talk-name Fold, Paper, Scissors - an mathematical exploration of origami's Fold-and-Cut Problem
              %h2.event-speaker-name Amy Wibowo
          .twelve-columns.talk
            .event-container
              %h2.hour-event 12:40 PM
              %p.event-talk-name U, I & Ur Ex
              %h2.event-speaker-name Jordan López
          .twelve-columns.talk
            .event-container
              %h2.hour-event 1:20 PM
              %p.event-talk-name PANEL: Women in Tech Communities
              %h2.event-speaker-name Technovation Challenge México, Epic Queen León and Tech Women Community
          .twelve-columns.talk
            .event-container
              %h2.hour-event 2:00 PM
              %p.event-talk-name LUNCH
          .twelve-columns.talk
            .event-container
              %h2.hour-event 3:10 PM
              %p.event-talk-name Elixir a language for the Future
              %h2.event-speaker-name João Moura
          .twelve-columns.talk
            .event-container
              %h2.hour-event 3:50 PM
              %p.event-talk-name Hack your Workday to Maximize Learning
              %h2.event-speaker-name Allison McMillan
          .twelve-columns.talk
            .event-container
              %h2.hour-event 4:30 PM
              %p.event-talk-name COFFEE BREAK
          .twelve-columns.talk
            .event-container
              %h2.hour-event 4:50 PM
              %p.event-talk-name Why we need Open Source Internet-of-Things
              %h2.event-speaker-name Matt Mills
          .twelve-columns.talk
            .event-container
              %h2.hour-event 5:30 PM
              %p.event-talk-name CLOSING MESSAGE
        .four-columns
          .twelve-columns
            .day-header
              %h2.day-title Thursday 
          .twelve-columns.talk
            .event-container
              %h2.hour-event 9:45 AM
              %p.event-talk-name WELCOME MESSAGE
          .twelve-columns.talk
            .event-container
              %h2.hour-event 10:00 AM
              %p.event-talk-name Refactor yourself: improving yourself so that you can help others improve
              %h2.event-speaker-name Sebastián Sogamoso
          .twelve-columns.talk
            .event-container
              %h2.hour-event 10:40 AM
              %p.event-talk-name Let's Laugh So We Don't Cry
              %h2.event-speaker-name.keynote Obie Fernandez
          .twelve-columns.talk
            .event-container
              %h2.hour-event 11:40 AM
              %p.event-talk-name COFFEE BREAK
          .twelve-columns.talk
            .event-container
              %h2.hour-event 12:00 PM
              %p.event-talk-name Web-based Virtual Reality
              %h2.event-speaker-name Erica Stanley
          .twelve-columns.talk
            .event-container
              %h2.hour-event 12:40 PM
              %p.event-talk-name Level up! Study Groups, Workshops, & Collaborative Learning
              %h2.event-speaker-name Ryan Davis
          .twelve-columns.talk
            .event-container
              %h2.hour-event 1:20 PM
              %p.event-talk-name ANNOUNCEMENTS
          .twelve-columns.talk
            .event-container
              %h2.hour-event 1:35 PM
              %p.event-talk-name LIGHTNING TALKS
          .twelve-columns.talk
            .event-container
              %h2.hour-event 2:00 PM
              %p.event-talk-name LUNCH
          .twelve-columns.talk
            .event-container
              %h2.hour-event 2:00 PM
              %p.event-talk-name LUNCH
          .twelve-columns.talk
            .event-container
              %h2.hour-event 3:10 PM
              %p.event-talk-name Bots from the past and the future
              %h2.event-speaker-name Enrique Mogollán
          .twelve-columns.talk
            .event-container
              %h2.hour-event 3:50 PM
              %p.event-talk-name How did we get here?
              %h2.event-speaker-name Ana Rosas
          .twelve-columns.talk
            .event-container
              %h2.hour-event 4:30 PM
              %p.event-talk-name COFFEE BREAK
          .twelve-columns.talk
            .event-container
              %h2.hour-event 4:50 PM
              %p.event-talk-name From Idea to MVP Collective Product Definition using Design Thinking
              %h2.event-speaker-name David Sandoval
          .twelve-columns.talk
            .event-container
              %h2.hour-event 5:30 PM
              %p.event-talk-name CLOSING MESSAGE
        .four-columns
          .twelve-columns
            .day-header
              %h2.day-title Friday
          .twelve-columns.talk
            .event-container
              %h2.hour-event 9:45 AM
              %p.event-talk-name WELCOME MESSAGE
          .twelve-columns.talk
            .event-container
              %h2.hour-event 10:00 AM
              %p.event-talk-name Sorting Rubyists
              %h2.event-speaker-name Caleb Thompson
          .twelve-columns.talk
            .event-container
              %h2.hour-event 10:40 AM
              %p.event-talk-name Incredible fast web apps without touching Ruby
              %h2.event-speaker-name Nico Hagenburger
          .twelve-columns.talk
            .event-container
              %h2.hour-event 11:20 AM
              %p.event-talk-name COFFEE BREAK
          .twelve-columns.talk
            .event-container
              %h2.hour-event 12:00 PM
              %p.event-talk-name Application developers, deploys, and team autonomy!
              %h2.event-speaker-name Rachel Myers
          .twelve-columns.talk
            .event-container
              %h2.hour-event 12:40 PM
              %p.event-talk-name Sudo Bring Me Groceries: How We Build for Scale at Instacart
              %h2.event-speaker-name Vic Ramon
          .twelve-columns.talk
            .event-container
              %h2.hour-event 1:20 PM
              %p.event-talk-name ANNOUNCEMENTS
          .twelve-columns.talk
            .event-container
              %h2.hour-event 1:35 PM
              %p.event-talk-name MAGMA ACTIVITY
          .twelve-columns.talk
            .event-container
              %h2.hour-event 2:00 PM
              %p.event-talk-name LUNCH
          .twelve-columns.talk
            .event-container
              %h2.hour-event 3:10 PM
              %p.event-talk-name *SURPRISE TALK
          .twelve-columns.talk
            .event-container
              %h2.hour-event 3:50 PM
              %p.event-talk-name *SURPRISE TALK
          .twelve-columns.talk
            .event-container
              %h2.hour-event 4:30 PM
              %p.event-talk-name COFFEE BREAK
          .twelve-columns.talk
            .event-container
              %h2.hour-event 4:50 PM
              %p.event-talk-name It's More Fun to Computer
              %h2.event-speaker-name Julian Cheal
          .twelve-columns.talk
            .event-container
              %h2.hour-event 5:30 PM
              %p.event-talk-name CLOSING MESSAGE
          .twelve-columns.talk
            .event-container
              %h2.hour-event 5:50 PM
              %p.event-talk-name CLOSING CEREMONY
