.pure-u-2-3.main-content-mobile{ class: I18n.locale.to_s }
  = render 'pages/2017/partials/pages_main_menu'
  #schedule
    .container.schedule-container
      .pure-g-r
        .pure-u-1-1.ta-c.mt10.my15--m.mx10
          .schedule-ring-icon
            %h2.about-magma-title.star.fbg
              Arena&nbsp;&nbsp;&nbsp;Magma 
      .pure-g-r.border-red
        .pure-u-1-3.ta-c
          = render 'pages/2017/partials/schedule/small_stars_list'
        .pure-u-1-3
          %p.schedule-title= "#{ t('title') } #{ t('menu.talks') }"
        .pure-u-1-3.ta-c
          = render 'pages/2017/partials/schedule/small_stars_list'
      .container.talks-container.main
        .offset-one.five-columns.keynotes-container
          .talk-container
            %h1.keynote-name Katrina Owen
            %span.keynote-star Keynote
            %p.talk-name
              The Bait & Switch of Open Source.
        .offset-one.five-columns.keynotes-container
          .talk-container.separate
            %h1.keynote-name Obie Fernández 
            %span.keynote-star Keynote
            %p.talk-name
              Let's Laugh So We Don't Cry
      .container.talks-container
        .twelve-columns
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Clarke Brunsdon
              %p.talk-name
                Ecommerce is Hard
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Matt Mills
              %p.talk-name
                Why we need Open Source Internet-of-Things
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Agustín Ramos
              %p.talk-name
                El Zen de Elixir/Erlang
        .twelve-columns
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Caleb Thompson
              %p.talk-name
                Sorting Rubyists 
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Jordán López 
              %p.talk-name
                U, I & Ur Ex
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Julian Cheal 
              %p.talk-name
                It's More Fun to Compute
        .twelve-columns
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Amy Wibowo 
              %p.talk-name
                Fold, Paper, Scissors—an mathematical exploration of origami's Fold-and-Cut Problem
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Nico Hagenburger 
              %p.talk-name
                Incredible fast web apps without touching Ruby
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Ryan Davis 
              %p.talk-name
                Level up! Study Groups, Workshops, & Collaborative Learning
        .twelve-columns
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Erica Stanley
              %p.talk-name
                Web-based Virtual Reality
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Sebastián Sogamoso 
              %p.talk-name
                Refactor yourself: improving yourself so that you can help others improve
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Ana Rosas
              %p.talk-name
                How did we get here?
        .twelve-columns
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name Rachel Myers
              %p.talk-name
                Application developers, deploys, and team autonomy!
          .four-columns.talk
            .talk-container
              %h2.speaker-talk-name João Moura
              %p.talk-name
                Elixir a language for the Future
