#footer
  .container
    .pure-g-r
      .pure-u-1-1
        = render 'pages/2014/partials/social_buttons'
    .pure-g-r
      .pure-u-1-1
        #copy-right{ class: I18n.locale.to_s }
          %a{href: 'http://www.crowdint.com'}
            #logo-crowd
          .title
            %p= t('home.footer.organised_by')
            %p= t('home.footer.copyright')
    .pure-g-r
      .anti
        .pure-u-1-4
          %h3= t('home.policy.title')
        .pure-u-3-4
          .footer-legend
            %p
              = t('home.policy.description')
              %a.open-popup{ href: '#' }= t('home.policy.here')
              %a.policy-page{ href: '/policies' }= t('home.policy.here')
#popup
#policy.container
  = render 'pages/2014/partials/policies'
