#main-menu.pure-g-r{ class: I18n.locale.to_s }
  .pure-u-1-1
    %ul
      %li.link
        %a.link-text#about-magma-link{ href: '/2014/about-magma' }= t('menu.about')
      %li.link
        %a.link-text#speakers-link{ href: '/2014/speakers' }= t('menu.speakers')
      %li.link
        %a.link-text#schedule-link{ href: '/2014/schedule' }= t('menu.schedule')
      %li.link.without-border
        %a.link-text#sponsors-link{ href: '/2014/sponsors' }= t('menu.sponsors')
      %li#main-section-link.without-border
        %a{href: '/'}
          #magma-logo
      %li#getting-to-manzanillo.link
        %span.link-text#getting-manzanillo-link{ href: '/2014/getting-to-manzanillo' }= t('menu.getting_manzanillo')
      %li.link
        %a.link-text#sponsors-link{ href: 'mailto:info@magmaconf.com', target:'_blank' }= t('menu.contact-us')
      %li.link
        %a.link-text.blog-link{ href: 'http://blog.magmaconf.com/', target: '_blank' }= t('menu.blog')
      %li.link.without-border
        %a.link-text#sponsors-link{ href: 'http://store.magmaconf.com', target: '_blank' }= t('menu.store')
    %a#btn-menu
      %span
      %span
      %span

#mobile-header.pure-g-r
  .pure-u-1-1
    %a#btn-mobile-header
      %span
      %span
      %span
    %span#menu.link= t('menu.menu')
    %a{href: '/'}
      #magma-logo
    %a#register.link{ href: 'http://magmaconf2014.eventbrite.com/', target: '_blank' }
      = t('menu.register')