<!DOCTYPE html>
<html>
<head>

    <title>Magma Rails 2013: SAVE THE DATE</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Crowd Interactive - http://crowdint.com">
    <meta content='Get ready for Magma Rails 2013' property='og:title'>
    <meta content='http://magmarails.org/assets/facebook.jpg' property='og:image'>
    <meta content='Magma Rails is a conferences event where people share their knowlede in Ruby / Ruby on Rails, Web development, UX and more. Get ready for Magma Rails 2013' property='og:description'>
    <meta content='http://www.magmarails.com' property='og:url'>

    <!-- icons -->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon-144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-57-precomposed.png', :rel => 'apple-touch-icon-precomposed' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22515126-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!--[if lte IE 6]>
    <script src="assets/ie6/warning.js"></script><script>window.onload=function(){e("assets/ie6/")}</script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
    <![endif]-->

</head>
<!--[if lte IE 6 ]> <body id="ie6" class="ie"> <![endif]-->
  <!--[if IE 7 ]> <body id="ie7" class="ie"> <![endif]-->
  <!--[if IE 8 ]> <body id="ie8" class="ie"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><body><!--<![endif]-->

<%= yield %>

</body>
</html>
