!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  %head
    %title MagmaConf 2013
    %meta{:charset => "utf-8"}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "Crowd Interactive - http://crowdint.com", :name => "author"}
    %meta{:content => "Get ready for Magma Conf 2013", :property => "og:title"}
    %meta{:content => "http://www.magmaconf.com/assets/facebook.jpeg", :property => "og:image"}
    %meta{:content => "Magma Conf is a conferences event where people share their knowlede in Ruby / Ruby on Rails, Web development, UX and more. Get ready for Magma Conf 2013", :property => "og:description"}
    %meta{:content => "http://www.magmaconf.com", :property => "og:url"}
    / icons
    = favicon_link_tag 'favicon.ico'
    %link{:href => "http://fonts.googleapis.com/css?family=Asap:400,700,400italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald:400,300,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application"
    = csrf_meta_tags

    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22515126-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    #wrapper
      = render 'partials/header'
      = yield
      #push
      = render 'partials/footer'
    = javascript_include_tag "application"
    :javascript
      $(document).ready(function(){
        $('.globes').hover(function(){
          $(this).addClass('flip');
        },function(){
          $(this).removeClass('flip');
        });
        $('.columns ul li a').click(function() {
          $('.top-bar').removeClass('expanded');
        });
        $('.center_logo').click(function() {
          $('.top-bar').removeClass('expanded');
          event.preventDefault();
          var link = this;
          $.smoothScroll({
            scrollTarget: link.hash
          });
        });
        $('a.scrollto').click(function() {
          var link = this;
          $.smoothScroll({
            scrollTarget: link.hash
          });
        });
        $('.accordion-heading').click(function() {
          var section = $(this).parent();
          $('.accordion-body:visible').slideToggle();
          section.find('.accordion-body').slideToggle();
          
          $('.accordion-body:visible').siblings('.accordion-heading').removeClass('collapsed');
          section.find('.accordion-heading').addClass('collapsed');
        });
      })

