!!!
%html
  %head
    %title Magma Conf 2013
    %meta{:charset => "utf-8"}

    %meta{:content => "width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
    %meta{:content => "Crowd Interactive - http://crowdint.com", :name => "author"}
    %meta{:content => "Get ready for Magma conf 2013", :property => "og:title"}
    %meta{:content => "http://www.magmaconf.com/assets/facebook.jpg", :property => "og:image"}
    %meta{:content => "Magma Conf is a conferences event where people share their knowlede in Ruby / Ruby on Rails, Web development, UX and more. Get ready for Magma Conf 2013", :property => "og:description"}
    %meta{:content => "http://www.magmaconf.com", :property => "og:url"}
    / icons
    = favicon_link_tag 'favicon.ico'



    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"

    = csrf_meta_tags

    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22515126-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    = render 'partials/menu_mobile'

    #wrapper
      = render 'partials/header'
      = yield

